p21d19901010001/PartialArmTemplates/ArmTemplate_5_31_2019_11_35_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Employee ID": "Employee_ID",
									"On Leave": "On_Leave",
									"Hire Date": "Hire_Date",
									"Service Length (Years)": "Length_of_Service",
									"Age Group": "Age_Group",
									"Number of Direct Reports": "Number_of_Direct_Reports",
									"Worker Type": "Worker_Type",
									"Location": "Location",
									"Country": "Country",
									"High/Low Cost": "High_Low_Cost",
									"Org Layer": "Org_Layer",
									"Product": "Product",
									"Product Family": "Product_Family",
									"Product Line": "Product_Line",
									"Cost Center - ID": "Cost_Center_ID",
									"Cost Center": "Cost_Center_Name",
									"Cost Center Hierarchy": "Cost_Centre_Hierarchy_Finastra",
									"Function": "Function_Finastra",
									"Cost Centre - Legacy DH Mapping to Finastra": "Cost_Centre_Legacy_DH_Mapping_to_Finastra",
									"Reporting Region": "Reporting_Region"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Destination",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Archive_Destination",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_HC_Source')]",
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_HC_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_HC_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Employee_ID",
						"type": "String"
					},
					{
						"name": "On_Leave",
						"type": "String"
					},
					{
						"name": "Hire_Date",
						"type": "Date"
					},
					{
						"name": "Length_of_Service",
						"type": "String"
					},
					{
						"name": "Age_Group",
						"type": "String"
					},
					{
						"name": "Number_of_Direct_Reports",
						"type": "String"
					},
					{
						"name": "Worker_Type",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "High_Low_Cost",
						"type": "String"
					},
					{
						"name": "Org_Layer",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Product_Family",
						"type": "String"
					},
					{
						"name": "Product_Line",
						"type": "String"
					},
					{
						"name": "Cost_Center_ID",
						"type": "String"
					},
					{
						"name": "Cost_Center_Name",
						"type": "String"
					},
					{
						"name": "Cost_Centre_Hierarchy_Finastra",
						"type": "String"
					},
					{
						"name": "Function_Finastra",
						"type": "String"
					},
					{
						"name": "Cost_Centre_Legacy_DH_Mapping_to_Finastra",
						"type": "String"
					},
					{
						"name": "Reporting_Region",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[HR_WORKDAY_HC]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_HC_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"structure": [
					{
						"name": "Employee ID",
						"type": "String"
					},
					{
						"name": "On Leave",
						"type": "String"
					},
					{
						"name": "Hire Date",
						"type": "String"
					},
					{
						"name": "Service Length (Years)",
						"type": "String"
					},
					{
						"name": "Age Group",
						"type": "String"
					},
					{
						"name": "Number of Direct Reports",
						"type": "String"
					},
					{
						"name": "Worker Type",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "High/Low Cost",
						"type": "String"
					},
					{
						"name": "Org Layer",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Product Family",
						"type": "String"
					},
					{
						"name": "Product Line",
						"type": "String"
					},
					{
						"name": "Cost Center - ID",
						"type": "String"
					},
					{
						"name": "Cost Center",
						"type": "String"
					},
					{
						"name": "Cost Center Hierarchy",
						"type": "String"
					},
					{
						"name": "Function",
						"type": "String"
					},
					{
						"name": "Cost Centre - Legacy DH Mapping to Finastra",
						"type": "String"
					},
					{
						"name": "Reporting Region",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat ('HeadCount_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
						"type": "Expression"
					},
					"folderPath": "CEOCFO/HR"
				}
			}
		}
	]
}