p21d19901010001/PartialArmTemplates/ArmTemplate_5_22_2019_12_18_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactCash')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Staging",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Finance/OD April 17th v2.1.csv"
							},
							{
								"name": "Destination",
								"value": "[[STG].[Finace_FF_Revenue&Cost]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cash Balance",
											"type": "String"
										},
										"sink": {
											"name": "Cash_Balance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RCF drawn",
											"type": "String"
										},
										"sink": {
											"name": "RCF_Drawn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Trapped Cash",
											"type": "String"
										},
										"sink": {
											"name": "Trapped_Cash",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cash Net of RCF",
											"type": "String"
										},
										"sink": {
											"name": "Cash_Net_of_RCF",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FF_Cash_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Cash_Destination",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "SqlServerStoredProcedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactFinance_Cash]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SqlServerStoredProcedure2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SqlServerStoredProcedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactFinance_Cash",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SqlServerStoredProcedure3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SqlServerStoredProcedure2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactFinance_Cash]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archiving Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SqlServerStoredProcedure3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FF_Cash_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "FF_Cash_Dest_DL",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Finance"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FF_Cash_Source')]",
				"[concat(variables('factoryId'), '/datasets/Cash_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cash_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date",
						"type": "nvarchar"
					},
					{
						"name": "Cash_Balance",
						"type": "nvarchar"
					},
					{
						"name": "RCF_Drawn",
						"type": "nvarchar"
					},
					{
						"name": "Trapped_Cash",
						"type": "nvarchar"
					},
					{
						"name": "Cash_Net_of_RCF",
						"type": "nvarchar"
					},
					{
						"name": "Rec_CRE_TMS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[Finance_FF_Cash]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FF_Cash_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@concat ('FinanceCash_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "CEOCFO/Finance"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Cash Balance",
						"type": "String"
					},
					{
						"name": "RCF drawn",
						"type": "String"
					},
					{
						"name": "Trapped Cash",
						"type": "String"
					},
					{
						"name": "Cash Net of RCF",
						"type": "String"
					}
				]
			}
		}
	]
}