p21d19901010001/PartialArmTemplates/ArmTemplate_6_6_2019_14_53_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactEXMSCORE_Region')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Region": "Region",
									"Responses": "Responses",
									"Detractors_Percentage": "Detractors_Percentage",
									"Passives_Percentage": "Passives_Percentage",
									"Promoters_Percentage": "Promoters_Percentage",
									"Score": "Score",
									"Avg_Response": "Avg_Response",
									"Response_Distribution_0": "Response_Distribution_0",
									"Response_Distribution_1": "Response_Distribution_1",
									"Response_Distribution_2": "Response_Distribution_2",
									"Response_Distribution_3": "Response_Distribution_3",
									"Response_Distribution_4": "Response_Distribution_4",
									"Response_Distribution_5": "Response_Distribution_5",
									"Response_Distribution_6": "Response_Distribution_6",
									"Response_Distribution_7": "Response_Distribution_7",
									"Response_Distribution_8": "Response_Distribution_8",
									"Response_Distribution_9": "Response_Distribution_9",
									"Response_Distribution_10": "Response_Distribution_10",
									"Year": "Year",
									"Calendar_Week_Number": "Calendar_Week_Number"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HR_Maclean_EXM_Region_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "FactEXMSCORE_Region_Destination",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_Maclean_EXM_Region_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_Maclean_EXM_Region_Archive_Destination",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactEXMSCORE_Region]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactEXMSCORE_Region",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactEXMSCORE_Region]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "HR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HR_Maclean_EXM_Region_Source')]",
				"[concat(variables('factoryId'), '/datasets/FactEXMSCORE_Region_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactEXMSCORE_Region_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Responses",
						"type": "String"
					},
					{
						"name": "Detractors_Percentage",
						"type": "String"
					},
					{
						"name": "Passives_Percentage",
						"type": "String"
					},
					{
						"name": "Promoters_Percentage",
						"type": "String"
					},
					{
						"name": "Score",
						"type": "String"
					},
					{
						"name": "Avg_Response",
						"type": "String"
					},
					{
						"name": "Response_Distribution_0",
						"type": "String"
					},
					{
						"name": "Response_Distribution_1",
						"type": "String"
					},
					{
						"name": "Response_Distribution_2",
						"type": "String"
					},
					{
						"name": "Response_Distribution_3",
						"type": "String"
					},
					{
						"name": "Response_Distribution_4",
						"type": "String"
					},
					{
						"name": "Response_Distribution_5",
						"type": "String"
					},
					{
						"name": "Response_Distribution_6",
						"type": "String"
					},
					{
						"name": "Response_Distribution_7",
						"type": "String"
					},
					{
						"name": "Response_Distribution_8",
						"type": "String"
					},
					{
						"name": "Response_Distribution_9",
						"type": "String"
					},
					{
						"name": "Response_Distribution_10",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Calendar_Week_Number",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[HR_Maclean_EXM_Region]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_Maclean_EXM_Region_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"structure": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Responses",
						"type": "String"
					},
					{
						"name": "Detractors_Percentage",
						"type": "String"
					},
					{
						"name": "Passives_Percentage",
						"type": "String"
					},
					{
						"name": "Promoters_Percentage",
						"type": "String"
					},
					{
						"name": "Score",
						"type": "String"
					},
					{
						"name": "Avg_Response",
						"type": "String"
					},
					{
						"name": "Response_Distribution_0",
						"type": "String"
					},
					{
						"name": "Response_Distribution_1",
						"type": "String"
					},
					{
						"name": "Response_Distribution_2",
						"type": "String"
					},
					{
						"name": "Response_Distribution_3",
						"type": "String"
					},
					{
						"name": "Response_Distribution_4",
						"type": "String"
					},
					{
						"name": "Response_Distribution_5",
						"type": "String"
					},
					{
						"name": "Response_Distribution_6",
						"type": "String"
					},
					{
						"name": "Response_Distribution_7",
						"type": "String"
					},
					{
						"name": "Response_Distribution_8",
						"type": "String"
					},
					{
						"name": "Response_Distribution_9",
						"type": "String"
					},
					{
						"name": "Response_Distribution_10",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Calendar_Week_Number",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat ('EXM_Region_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
						"type": "Expression"
					},
					"folderPath": "CEOCFO/HR"
				}
			}
		}
	]
}