p21d19901010001/PartialArmTemplates/ArmTemplate_5_22_2019_12_8_53.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactEXMSCORE_Gender')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactEXMSCORE_Gender]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactEXMSCORE_Gender"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactEXMSCORE_Gender]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "EXMSCORE_Gender_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EXMSCORE_Gender",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Gender",
											"type": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Responses",
											"type": "String"
										},
										"sink": {
											"name": "Responses",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Detractors",
											"type": "String"
										},
										"sink": {
											"name": "Detractors_Percentage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Passives",
											"type": "String"
										},
										"sink": {
											"name": "Passives_Percentage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Promoters",
											"type": "String"
										},
										"sink": {
											"name": "Promoters_Percentage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Score",
											"type": "String"
										},
										"sink": {
											"name": "Score",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Avg. Response",
											"type": "String"
										},
										"sink": {
											"name": "Avg_Response",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 0",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_0",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 1",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 2",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 3",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 4",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 5",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 6",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 7",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 8",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 9",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_9",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Response Distribution 10",
											"type": "String"
										},
										"sink": {
											"name": "Response_Distribution_10",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "EXMSCORE_Gender_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EXMSCORE_Gender_Dest",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EXMSCORE_Gender_Source')]",
				"[concat(variables('factoryId'), '/datasets/EXMSCORE_Gender_Dest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXMSCORE_Gender_Dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Responses",
						"type": "nvarchar"
					},
					{
						"name": "Detractors_Percentage",
						"type": "nvarchar"
					},
					{
						"name": "Passives_Percentage",
						"type": "nvarchar"
					},
					{
						"name": "Promoters_Percentage",
						"type": "nvarchar"
					},
					{
						"name": "Score",
						"type": "nvarchar"
					},
					{
						"name": "Avg_Response",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_0",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_1",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_2",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_3",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_4",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_5",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_6",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_7",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_8",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_9",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_10",
						"type": "nvarchar"
					},
					{
						"name": "Rec_CRE_TMS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[HR_Maclean_EXM_Gender]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXMSCORE_Gender_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@concat ('EXM_Gender_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "CEOCFO/HR"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Responses",
						"type": "String"
					},
					{
						"name": "Detractors",
						"type": "String"
					},
					{
						"name": "Passives",
						"type": "String"
					},
					{
						"name": "Promoters",
						"type": "String"
					},
					{
						"name": "Score",
						"type": "String"
					},
					{
						"name": "Avg. Response",
						"type": "String"
					},
					{
						"name": "Response Distribution 0",
						"type": "String"
					},
					{
						"name": "Response Distribution 1",
						"type": "String"
					},
					{
						"name": "Response Distribution 2",
						"type": "String"
					},
					{
						"name": "Response Distribution 3",
						"type": "String"
					},
					{
						"name": "Response Distribution 4",
						"type": "String"
					},
					{
						"name": "Response Distribution 5",
						"type": "String"
					},
					{
						"name": "Response Distribution 6",
						"type": "String"
					},
					{
						"name": "Response Distribution 7",
						"type": "String"
					},
					{
						"name": "Response Distribution 8",
						"type": "String"
					},
					{
						"name": "Response Distribution 9",
						"type": "String"
					},
					{
						"name": "Response Distribution 10",
						"type": "String"
					}
				]
			}
		}
	]
}