p21d19901010001/PartialArmTemplates/ArmTemplate_5_29_2019_14_12_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactHC_Diversity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactHC_Diversity]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactHC_Diversity"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactHC_Diversity]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_DIVERSITY",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_DIVERSITY_DEST",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_DIVERSITY",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_DIVERSITY_ARCH_DEST",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_DIVERSITY')]",
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_DIVERSITY_DEST')]",
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_DIVERSITY_ARCH_DEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_DIVERSITY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@concat ('Diversity_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "CEOCFO/HR"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_DIVERSITY_ARCH_DEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": {
							"value": "@concat ('Diversity_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))",
							"type": "Expression"
						},
						"folderPath": "LandingArchive/CEOCFO/HR"
					},
					"columnDelimiter": ",",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Responses",
						"type": "String"
					},
					{
						"name": "Detractors_Percentage",
						"type": "String"
					},
					{
						"name": "Passives_Percentage",
						"type": "String"
					},
					{
						"name": "Promoters_Percentage",
						"type": "String"
					},
					{
						"name": "Score",
						"type": "String"
					},
					{
						"name": "Avg_Response",
						"type": "String"
					},
					{
						"name": "Response_Distribution_0",
						"type": "String"
					},
					{
						"name": "Response_Distribution_1",
						"type": "String"
					},
					{
						"name": "Response_Distribution_2",
						"type": "String"
					},
					{
						"name": "Response_Distribution_3",
						"type": "String"
					},
					{
						"name": "Response_Distribution_4",
						"type": "String"
					},
					{
						"name": "Response_Distribution_5",
						"type": "String"
					},
					{
						"name": "Response_Distribution_6",
						"type": "String"
					},
					{
						"name": "Response_Distribution_7",
						"type": "String"
					},
					{
						"name": "Response_Distribution_8",
						"type": "String"
					},
					{
						"name": "Response_Distribution_9",
						"type": "String"
					},
					{
						"name": "Response_Distribution_10",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_DIVERSITY_DEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "[[INT].[DimEmployeeReject]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_HC_Archive_Destination6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat ('HeadCount_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
						"type": "Expression"
					},
					"folderPath": "LandingArchive/CEOCFO/HR"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_HC_Source4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"structure": [
					{
						"name": "Employee ID",
						"type": "String"
					},
					{
						"name": "On Leave",
						"type": "String"
					},
					{
						"name": "Hire Date",
						"type": "String"
					},
					{
						"name": "Number of Direct Reports",
						"type": "String"
					},
					{
						"name": "Worker Type",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Org Layer",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Product Family",
						"type": "String"
					},
					{
						"name": "Product Line",
						"type": "String"
					},
					{
						"name": "Cost Center - ID",
						"type": "String"
					},
					{
						"name": "Cost Center",
						"type": "String"
					},
					{
						"name": "Cost Center Hierarchy",
						"type": "String"
					},
					{
						"name": "Function",
						"type": "String"
					},
					{
						"name": "Cost Centre - Legacy DH Mapping to Finastra",
						"type": "String"
					},
					{
						"name": "Reporting Region",
						"type": "String"
					},
					{
						"name": "High / Low Cost",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat ('HeadCount_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
						"type": "Expression"
					},
					"folderPath": "CEOCFO/HR"
				}
			}
		}
	]
}