p21d19901010001/PartialArmTemplates/ArmTemplate_6_21_2019_14_22_52.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactCollectionReporting')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactCollectionReporting]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactCollectionReporting"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactCollectionReporting]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FactCollection_source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "FactCollection_arch",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Region",
											"type": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Reporting Date",
											"type": "String"
										},
										"sink": {
											"name": "Reporting_Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Calendar Month",
											"type": "String"
										},
										"sink": {
											"name": "Calendar_Month",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount for Week1",
											"type": "String"
										},
										"sink": {
											"name": "Amount_for_Week1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount for Week2",
											"type": "String"
										},
										"sink": {
											"name": "Amount_for_Week2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount for Week3",
											"type": "String"
										},
										"sink": {
											"name": "Amount_for_Week3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount for Week4",
											"type": "String"
										},
										"sink": {
											"name": "Amount_for_Week4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount for Week5",
											"type": "String"
										},
										"sink": {
											"name": "Amount_for_Week5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Monthly Target Amount",
											"type": "String"
										},
										"sink": {
											"name": "Monthly_Target_Amount",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FactCollection_source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "FactCollection_dest",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Finance"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FactCollection_source')]",
				"[concat(variables('factoryId'), '/datasets/FactCollection_arch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactCollection_arch')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": {
							"value": "@concat ('CollectionReporting_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))",
							"type": "Expression"
						},
						"folderPath": "LandingArchive/CEOCFO/Finance"
					},
					"columnDelimiter": ",",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactCollection_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@concat ('CollectionReporting_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "CEOCFO/Finance"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Reporting Date",
						"type": "String"
					},
					{
						"name": "Calendar Month",
						"type": "String"
					},
					{
						"name": "Amount for Week1",
						"type": "String"
					},
					{
						"name": "Amount for Week2",
						"type": "String"
					},
					{
						"name": "Amount for Week3",
						"type": "String"
					},
					{
						"name": "Amount for Week4",
						"type": "String"
					},
					{
						"name": "Amount for Week5",
						"type": "String"
					},
					{
						"name": "Monthly Target Amount",
						"type": "String"
					}
				]
			}
		}
	]
}