p21d19901010001/PartialArmTemplates/ArmTemplate_5_19_2019_11_16_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Delete old Landing Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Delete files more than 30 days",
				"activities": [
					{
						"name": "Delete HR",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Forecast Plan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete",
								"type": "DatasetReference"
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Customer Support",
						"type": "Delete",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete2",
								"type": "DatasetReference"
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Finance",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete HR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete3",
								"type": "DatasetReference"
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Marketing",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Finance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete4",
								"type": "DatasetReference"
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Sales",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Marketing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete5",
								"type": "DatasetReference"
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Forecast Plan",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Customer Support",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete6",
								"type": "DatasetReference"
							},
							"enableLogging": false
						}
					}
				],
				"folder": {
					"name": "ETL Jobs"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FileShareDelete')]",
				"[concat(variables('factoryId'), '/datasets/FileShareDelete2')]",
				"[concat(variables('factoryId'), '/datasets/FileShareDelete3')]",
				"[concat(variables('factoryId'), '/datasets/FileShareDelete4')]",
				"[concat(variables('factoryId'), '/datasets/FileShareDelete5')]",
				"[concat(variables('factoryId'), '/datasets/FileShareDelete6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareDelete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "CEOCFO/HR",
					"modifiedDatetimeEnd": {
						"value": "@adddays(pipeline().triggerTime, -30)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareDelete2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"fileName": "",
					"folderPath": "CEOCFO/CustomerSupport",
					"modifiedDatetimeEnd": {
						"value": "@adddays(pipeline().triggerTime, -30)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareDelete3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"fileName": "",
					"folderPath": "CEOCFO/Finance",
					"modifiedDatetimeEnd": {
						"value": "@adddays(pipeline().triggerTime, -30)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareDelete4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"fileName": "",
					"folderPath": "CEOCFO/Marketing",
					"modifiedDatetimeEnd": {
						"value": "@adddays(pipeline().triggerTime, -30)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareDelete5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"fileName": "",
					"folderPath": "CEOCFO/Sales",
					"modifiedDatetimeEnd": {
						"value": "@adddays(pipeline().triggerTime, -30)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareDelete6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"typeProperties": {
					"fileName": "",
					"folderPath": "CEOCFO/Dimentions/Forecast Plan",
					"modifiedDatetimeEnd": {
						"value": "@adddays(pipeline().triggerTime, -30)",
						"type": "Expression"
					}
				}
			}
		}
	]
}