p21d19901010001/PartialArmTemplates/ArmTemplate_7_1_2019_13_7_42.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DimMarketing_SFDC_Contact_incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Modified Record",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Last Created Record",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "SELECT \nId\n,AccountId\n,IST_Rep__c\n,MQL_Program__c\n,Product__c\n,Qualify_Out_Reson__c\n,Region__c\n,Sales_Region__c\n,MailingCountry\n,Status__c\n,Sub_Region__c\n,FirstName\n,LastName\n,Email\n,MTL_Datestamp__c\n,MQL_Datestamp__c\n,CreatedDate\n,LastModifiedDate\nFROM Contact \n\n\nwhere CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z\n\n",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SFDC_Contact",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Contact_sql",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get Last Modified Record",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(cast (Lastmodifieddate AS datetime)) AS Modified\n  FROM [STG].[Marketing_SFDC_Contact]\n"
							},
							"dataset": {
								"referenceName": "Marketing_Contact_Source",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Get Last Created Record",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(cast (createddate AS datetime))  AS Created\n  FROM [STG].[Marketing_SFDC_Contact]\n"
							},
							"dataset": {
								"referenceName": "Marketing_Contact_Source",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Archiving",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable13",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDataLakeStoreFile4",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimMarketing_SFDC_Contact]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimMarketing_SFDC_Contact",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimMarketing_SFDC_Contact]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Marketing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFDC_Contact')]",
				"[concat(variables('factoryId'), '/datasets/Contact_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimMarketing_SFDC_Contact_initial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT\nId\n,AccountId\n,IST_Rep__c\n,MQL_Program__c\n,Product__c\n,Qualify_Out_Reson__c\n,Region__c\n,Sales_Region__c\n,MailingCountry\n,Status__c\n,Sub_Region__c\n,FirstName\n,LastName\n,Email\n,MTL_Datestamp__c\n,MQL_Datestamp__c\n,CreatedDate\n,LastModifiedDate\n\nFROM Contact \n",
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SFDC_Contact",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Contact_sql",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimMarketing_SFDC_Contact]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimMarketing_SFDC_Contact",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimMarketing_SFDC_Contact]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Marketing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFDC_Contact')]",
				"[concat(variables('factoryId'), '/datasets/Contact_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimMarketing_SFDC_Lead_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Modified Record",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Last Created Record",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "SELECT\nId,\nMQL_Datestamp__c,\nMTL_Datestamp__c,\nStatus,\nCompany,\nLead_Country__c,\nTitle,\nFirstName,\nLastName,\nEmail,\nMQL_Program__c,\nQualified_Out_Reason__c,\nStatus_Reason__c,\nSales_Region__c,\nSub_Region__c,\nConvertedAccountId,\nCreatedDate,\nLastModifiedDate\nFROM Lead\nwhere (CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z)\nand (MQL_Datestamp__c!=null or MTL_Datestamp__c!=null)\n",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SFDC_Lead",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Lead_SQL",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get Last Modified Record",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(cast (Lastmodifieddate AS datetime)) AS Modified\n  FROM [STG].[Marketing_SFDC_Lead]\n"
							},
							"dataset": {
								"referenceName": "Marketing_Lead_Source",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Get Last Created Record",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(cast (createddate AS datetime))  AS Created\n  FROM [STG].[Marketing_SFDC_Lead]\n"
							},
							"dataset": {
								"referenceName": "Marketing_Lead_Source",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Archiving",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable12",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDataLakeStoreFile3",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimMarketing_SFDC_Lead]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimMarketing_SFDC_Lead",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimMarketing_SFDC_Lead]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Marketing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFDC_Lead')]",
				"[concat(variables('factoryId'), '/datasets/Lead_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimMarketing_SFDC_Lead_Initial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT\nId,\nMQL_Datestamp__c,\nMTL_Datestamp__c,\nStatus,\nCompany,\nLead_Country__c,\nTitle,\nFirstName,\nLastName,\nEmail,\nMQL_Program__c,\nQualified_Out_Reason__c,\nStatus_Reason__c,\nSales_Region__c,\nSub_Region__c,\nConvertedAccountId,\nCreatedDate,\nLastModifiedDate\nFROM Lead\nwhere\nMQL_Datestamp__c!=null or\nMTL_Datestamp__c!=null\n",
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SFDC_Lead",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Lead_SQL",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimMarketing_SFDC_Lead]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimMarketing_SFDC_Lead",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimMarketing_SFDC_Lead]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Marketing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFDC_Lead')]",
				"[concat(variables('factoryId'), '/datasets/Lead_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Contact_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[[STG].[Marketing_SFDC_Contact]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lead_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[[STG].[Marketing_SFDC_Lead]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFDC_Contact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"typeProperties": {
					"objectApiName": "Contact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFDC_Lead')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"typeProperties": {
					"objectApiName": "Lead"
				}
			},
			"dependsOn": []
		}
	]
}