p21d19901010001/PartialArmTemplates/ArmTemplate_5_31_2019_12_9_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee_Requisitions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee_Requisitions]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee_Requisitions"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee_Requisitions]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Job Req. ID": "Job_Req_ID",
									"Job Requisition Status": "Job_Requisition_Status",
									"Primary Location": "Primary_Location",
									"Country": "Country",
									"High/Low Cost Country": "High_Low_Cost",
									"Cost Centre ID": "Cost_Centre_ID",
									"Product": "Product",
									"Function": "Function",
									"Worker Type": "Worker_Type"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Destination",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Archive_Destination",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_REQ_Source')]",
				"[concat(variables('factoryId'), '/datasets/HR_WORKDAY_REQ_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_REQ_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Job_Req_ID",
						"type": "String"
					},
					{
						"name": "Job_Requisition_Status",
						"type": "String"
					},
					{
						"name": "Primary_Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "High_Low_Cost",
						"type": "String"
					},
					{
						"name": "Cost_Centre_ID",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Function",
						"type": "String"
					},
					{
						"name": "Worker_Type",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[HR_WORKDAY_REQ]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_REQ_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"structure": [
					{
						"name": "Job Req. ID",
						"type": "String"
					},
					{
						"name": "Job Requisition Status",
						"type": "String"
					},
					{
						"name": "Primary Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "High/Low Cost Country",
						"type": "String"
					},
					{
						"name": "Cost Centre ID",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Function",
						"type": "String"
					},
					{
						"name": "Worker Type",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": "CEOCFO/HR"
				}
			}
		}
	]
}