p21d19901010001/PartialArmTemplates/ArmTemplate_6_28_2019_14_42_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactOpportunity_All_incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last Modified Record",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Last Created Record",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select\n id\n,Name\n,Ownerid\n,owner.name\n,Owner.Sub_Region__c\n,CloseDate\n,StageName\n,Deal_Type__c\n,MainProduct__c\n,OpportunityHEALTH__c\n,RLF_percent__c\n,Regional_Sales_Manager_Comments__c\n,Accountid\n,Account.Name\n,Opportunity_18chr_Id__c\n,Amount\n,Order_Number__c\n,Sales_Region_FY07__c\n,Pricing_Country__c\n,Misys_Forecast__c\n,Term_Estimate_Months__c\n,Commercial_Prop__c\n,ILF_Amount__c\n,Total_ILF_In_Qtr__c\n,Accretive_RLF__c\n,RLF_Amount__c\n,PS_Amount__c\n,ASP_Amount__c\n,TCV_CSH__c\n,ACV_ACV_Equiv_CSH__c\n,Strength_of_Sale__c\n,Global_Account_Manager_Comments__c\n,Executive_Sponsor_alignment__c\n,Next_Step_Due_Date__c\n,NextStep\n,Approval_Status__c\n,sbaa__ApprovalStatus__c\n,Term_CSH__c\n,Deal_Category__c\n,Service_Type__c\n,Service_Sub_Type__c\n,Campaignid\n,Opportunity_Partner__c\n,Original_Opportunity__c\n,RecordTypeid\n,RecordType.Name\n,LastModifiedDate\n,CreatedDate\n,Existing_RLF_Currency__c\n,CurrencyIsoCode\n,SBU_Strategic_Business_Unit__c\n,FiscalPeriod__c\n,Total_PS_Amount__c \n,Date_opportunity_moved_to_SS2__c\n,Date_opportunity_moved_to_SS4__c\n,IST_Rep__c\n\nfrom Opportunity\n\nwhere CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z\n",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Opportunity_Incremental_load",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LND_SFDC_3",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get Last Modified Record",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select max(cast (Lastmodifieddate AS datetime)) AS Modified\n  FROM [STG].[Sales_SFDC_Booking]"
							},
							"dataset": {
								"referenceName": "Opportunity_Last_Load_Modified",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Get Last Created Record",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select max(cast (createddate AS datetime))  AS Created\n  FROM [STG].[Sales_SFDC_Booking]"
							},
							"dataset": {
								"referenceName": "Opportunity_Last_Load_Created",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select\n id\n,Name\n,Ownerid\n,owner.name\n,Owner.Sub_Region__c\n,CloseDate\n,StageName\n,Deal_Type__c\n,MainProduct__c\n,OpportunityHEALTH__c\n,RLF_percent__c\n,Regional_Sales_Manager_Comments__c\n,Accountid\n,Account.Name\n,Opportunity_18chr_Id__c\n,Amount\n,Order_Number__c\n,Sales_Region_FY07__c\n,Pricing_Country__c\n,Misys_Forecast__c\n,Term_Estimate_Months__c\n,Commercial_Prop__c\n,ILF_Amount__c\n,Total_ILF_In_Qtr__c\n,Accretive_RLF__c\n,RLF_Amount__c\n,PS_Amount__c\n,ASP_Amount__c\n,TCV_CSH__c\n,ACV_ACV_Equiv_CSH__c\n,Strength_of_Sale__c\n,Global_Account_Manager_Comments__c\n,Executive_Sponsor_alignment__c\n,Next_Step_Due_Date__c\n,NextStep\n,Approval_Status__c\n,sbaa__ApprovalStatus__c\n,Term_CSH__c\n,Deal_Category__c\n,Service_Type__c\n,Service_Sub_Type__c\n,Campaignid\n,Opportunity_Partner__c\n,Original_Opportunity__c\n,RecordTypeid\n,RecordType.Name\n,LastModifiedDate\n,CreatedDate\n,Existing_RLF_Currency__c\n,CurrencyIsoCode\n,SBU_Strategic_Business_Unit__c\n,FiscalPeriod__c\n\nfrom Opportunity\n\nwhere CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z\n",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Opportunity_Incremental_load",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Opportunity_Incremintal_Archiving",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_Fact_Opportunity_All]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactSales_SFDC_Booking"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFact_Opportunity_All]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Sales"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Opportunity_Incremental_load')]",
				"[concat(variables('factoryId'), '/datasets/LND_SFDC_3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactOpportunity_All_initial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading STG tables Created date",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading STG tables LST_Modified2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id\n,Name\n,Ownerid\n,owner.name\n,Owner.Sub_Region__c\n,CloseDate\n,StageName\n,Deal_Type__c\n,MainProduct__c\n,OpportunityHEALTH__c\n,RLF_percent__c\n,Regional_Sales_Manager_Comments__c\n,Accountid\n,Account.Name\n,Opportunity_18chr_Id__c\n,Amount\n,Order_Number__c\n,Sales_Region_FY07__c\n,Pricing_Country__c\n,Misys_Forecast__c\n,Term_Estimate_Months__c\n,Commercial_Prop__c\n,ILF_Amount__c\n,Total_ILF_In_Qtr__c\n,Accretive_RLF__c\n,RLF_Amount__c\n,PS_Amount__c\n,ASP_Amount__c\n,TCV_CSH__c\n,ACV_ACV_Equiv_CSH__c\n,Strength_of_Sale__c\n,Global_Account_Manager_Comments__c\n,Executive_Sponsor_alignment__c\n,Next_Step_Due_Date__c\n,NextStep\n,Approval_Status__c\n,sbaa__ApprovalStatus__c\n,Term_CSH__c\n,Deal_Category__c\n,Service_Type__c\n,Service_Sub_Type__c\n,Campaignid\n,Opportunity_Partner__c\n,Original_Opportunity__c\n,RecordTypeid\n,RecordType.Name\n,LastModifiedDate\n,CreatedDate\n,Existing_RLF_Currency__c\n,CurrencyIsoCode\n,SBU_Strategic_Business_Unit__c\n,FiscalPeriod__c\n,Total_PS_Amount__c \n,Date_opportunity_moved_to_SS2__c\n,Date_opportunity_moved_to_SS4__c\n,IST_Rep__c\n\nfrom Opportunity\nwhere DAY_ONLY(CreatedDate) >=2017-06-01\n\n\n\n\n",
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Opportunity",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LND_SFDC_1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SFDC_Archive",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SFDC_Archive_Opportunity",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables Created date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_Fact_Opportunity_All]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactSales_SFDC_Booking"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFact_Opportunity_All]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables LST_Modified",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id\n,Name\n,Ownerid\n,owner.name\n,Owner.Sub_Region__c\n,CloseDate\n,StageName\n,Deal_Type__c\n,MainProduct__c\n,OpportunityHEALTH__c\n,RLF_percent__c\n,Regional_Sales_Manager_Comments__c\n,Accountid\n,Account.Name\n,Opportunity_18chr_Id__c\n,Amount\n,Order_Number__c\n,Sales_Region_FY07__c\n,Pricing_Country__c\n,Misys_Forecast__c\n,Term_Estimate_Months__c\n,Commercial_Prop__c\n,ILF_Amount__c\n,Total_ILF_In_Qtr__c\n,Accretive_RLF__c\n,RLF_Amount__c\n,PS_Amount__c\n,ASP_Amount__c\n,TCV_CSH__c\n,ACV_ACV_Equiv_CSH__c\n,Strength_of_Sale__c\n,Global_Account_Manager_Comments__c\n,Executive_Sponsor_alignment__c\n,Next_Step_Due_Date__c\n,NextStep\n,Approval_Status__c\n,sbaa__ApprovalStatus__c\n,Term_CSH__c\n,Deal_Category__c\n,Service_Type__c\n,Service_Sub_Type__c\n,Campaignid\n,Opportunity_Partner__c\n,Original_Opportunity__c\n,RecordTypeid\n,RecordType.Name\n,LastModifiedDate\n,CreatedDate\n,Existing_RLF_Currency__c\n,CurrencyIsoCode\n,SBU_Strategic_Business_Unit__c\n,FiscalPeriod__c\n,Total_PS_Amount__c \n,Date_opportunity_moved_to_SS2__c\n,Date_opportunity_moved_to_SS4__c\n,IST_Rep__c\n\nfrom Opportunity\nwhere DAY_ONLY(LastModifiedDate) >=2017-06-01 and DAY_ONLY(LastModifiedDate) <= 2018-10-08",
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Opportunity",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LND_SFDC_1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Loading STG tables LST_Modified2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading STG tables LST_Modified",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id\n,Name\n,Ownerid\n,owner.name\n,Owner.Sub_Region__c\n,CloseDate\n,StageName\n,Deal_Type__c\n,MainProduct__c\n,OpportunityHEALTH__c\n,RLF_percent__c\n,Regional_Sales_Manager_Comments__c\n,Accountid\n,Account.Name\n,Opportunity_18chr_Id__c\n,Amount\n,Order_Number__c\n,Sales_Region_FY07__c\n,Pricing_Country__c\n,Misys_Forecast__c\n,Term_Estimate_Months__c\n,Commercial_Prop__c\n,ILF_Amount__c\n,Total_ILF_In_Qtr__c\n,Accretive_RLF__c\n,RLF_Amount__c\n,PS_Amount__c\n,ASP_Amount__c\n,TCV_CSH__c\n,ACV_ACV_Equiv_CSH__c\n,Strength_of_Sale__c\n,Global_Account_Manager_Comments__c\n,Executive_Sponsor_alignment__c\n,Next_Step_Due_Date__c\n,NextStep\n,Approval_Status__c\n,sbaa__ApprovalStatus__c\n,Term_CSH__c\n,Deal_Category__c\n,Service_Type__c\n,Service_Sub_Type__c\n,Campaignid\n,Opportunity_Partner__c\n,Original_Opportunity__c\n,RecordTypeid\n,RecordType.Name\n,LastModifiedDate\n,CreatedDate\n,Existing_RLF_Currency__c\n,CurrencyIsoCode\n,SBU_Strategic_Business_Unit__c\n,FiscalPeriod__c\n,Total_PS_Amount__c \n,Date_opportunity_moved_to_SS2__c\n,Date_opportunity_moved_to_SS4__c\n,IST_Rep__c\n\nfrom Opportunity\nwhere DAY_ONLY(LastModifiedDate) >=2018-10-10\n",
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Opportunity",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LND_SFDC_1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Sales"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Salesforce_Opportunity')]",
				"[concat(variables('factoryId'), '/datasets/LND_SFDC_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LND_SFDC_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Ownerid",
						"type": "String"
					},
					{
						"name": "owner_name",
						"type": "String"
					},
					{
						"name": "Owner_Sub_Region_c",
						"type": "String"
					},
					{
						"name": "CloseDate",
						"type": "String"
					},
					{
						"name": "StageName",
						"type": "String"
					},
					{
						"name": "Deal_Type_c",
						"type": "String"
					},
					{
						"name": "MainProduct_c",
						"type": "String"
					},
					{
						"name": "OpportunityHEALTH_c",
						"type": "String"
					},
					{
						"name": "RLF_percent_c",
						"type": "String"
					},
					{
						"name": "Regional_Sales_Manager_Comments_c",
						"type": "String"
					},
					{
						"name": "Accountid",
						"type": "String"
					},
					{
						"name": "Account_Name",
						"type": "String"
					},
					{
						"name": "Opportunity_18chr_Id_c",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Order_Number_c",
						"type": "String"
					},
					{
						"name": "Sales_Region_FY07_c",
						"type": "String"
					},
					{
						"name": "Pricing_Country_c",
						"type": "String"
					},
					{
						"name": "Misys_Forecast_c",
						"type": "String"
					},
					{
						"name": "Term_Estimate_Months_c",
						"type": "String"
					},
					{
						"name": "Commercial_Prop_c",
						"type": "String"
					},
					{
						"name": "ILF_Amount_c",
						"type": "String"
					},
					{
						"name": "Total_ILF_In_Qtr_c",
						"type": "String"
					},
					{
						"name": "Accretive_RLF_c",
						"type": "String"
					},
					{
						"name": "RLF_Amount_c",
						"type": "String"
					},
					{
						"name": "PS_Amount_c",
						"type": "String"
					},
					{
						"name": "ASP_Amount_c",
						"type": "String"
					},
					{
						"name": "TCV_CSH_c",
						"type": "String"
					},
					{
						"name": "ACV_ACV_Equiv_CSH_c",
						"type": "String"
					},
					{
						"name": "Strength_of_Sale_c",
						"type": "String"
					},
					{
						"name": "Global_Account_Manager_Comments_c",
						"type": "String"
					},
					{
						"name": "Executive_Sponsor_alignment_c",
						"type": "String"
					},
					{
						"name": "Next_Step_Due_Date_c",
						"type": "String"
					},
					{
						"name": "NextStep",
						"type": "String"
					},
					{
						"name": "Approval_Status_c",
						"type": "String"
					},
					{
						"name": "sbaa_ApprovalStatus_c",
						"type": "String"
					},
					{
						"name": "Term_CSH_c",
						"type": "String"
					},
					{
						"name": "Deal_Category_c",
						"type": "String"
					},
					{
						"name": "Service_Type_c",
						"type": "String"
					},
					{
						"name": "Service_Sub_Type_c",
						"type": "String"
					},
					{
						"name": "Campaignid",
						"type": "String"
					},
					{
						"name": "Opportunity_Partner_c",
						"type": "String"
					},
					{
						"name": "Original_Opportunity_c",
						"type": "String"
					},
					{
						"name": "RecordTypeid",
						"type": "String"
					},
					{
						"name": "RecordType_Name",
						"type": "String"
					},
					{
						"name": "LastModifiedDate",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "String"
					},
					{
						"name": "Existing_RLF_Currency_c",
						"type": "String"
					},
					{
						"name": "CurrencyIsoCode",
						"type": "String"
					},
					{
						"name": "SBU_Strategic_Business_Unit_c",
						"type": "String"
					},
					{
						"name": "FiscalPeriod_c",
						"type": "String"
					},
					{
						"name": "Total_PS_Amount__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS2__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS4__c",
						"type": "String"
					},
					{
						"name": "IST_Rep__c",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[Sales_SFDC_Booking]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LND_SFDC_3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Ownerid",
						"type": "String"
					},
					{
						"name": "owner_name",
						"type": "String"
					},
					{
						"name": "Owner_Sub_Region_c",
						"type": "String"
					},
					{
						"name": "CloseDate",
						"type": "String"
					},
					{
						"name": "StageName",
						"type": "String"
					},
					{
						"name": "Deal_Type_c",
						"type": "String"
					},
					{
						"name": "MainProduct_c",
						"type": "String"
					},
					{
						"name": "OpportunityHEALTH_c",
						"type": "String"
					},
					{
						"name": "RLF_percent_c",
						"type": "String"
					},
					{
						"name": "Regional_Sales_Manager_Comments_c",
						"type": "String"
					},
					{
						"name": "Accountid",
						"type": "String"
					},
					{
						"name": "Account_Name",
						"type": "String"
					},
					{
						"name": "Opportunity_18chr_Id_c",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Order_Number_c",
						"type": "String"
					},
					{
						"name": "Sales_Region_FY07_c",
						"type": "String"
					},
					{
						"name": "Pricing_Country_c",
						"type": "String"
					},
					{
						"name": "Misys_Forecast_c",
						"type": "String"
					},
					{
						"name": "Term_Estimate_Months_c",
						"type": "String"
					},
					{
						"name": "Commercial_Prop_c",
						"type": "String"
					},
					{
						"name": "ILF_Amount_c",
						"type": "String"
					},
					{
						"name": "Total_ILF_In_Qtr_c",
						"type": "String"
					},
					{
						"name": "Accretive_RLF_c",
						"type": "String"
					},
					{
						"name": "RLF_Amount_c",
						"type": "String"
					},
					{
						"name": "PS_Amount_c",
						"type": "String"
					},
					{
						"name": "ASP_Amount_c",
						"type": "String"
					},
					{
						"name": "TCV_CSH_c",
						"type": "String"
					},
					{
						"name": "ACV_ACV_Equiv_CSH_c",
						"type": "String"
					},
					{
						"name": "Strength_of_Sale_c",
						"type": "String"
					},
					{
						"name": "Global_Account_Manager_Comments_c",
						"type": "String"
					},
					{
						"name": "Executive_Sponsor_alignment_c",
						"type": "String"
					},
					{
						"name": "Next_Step_Due_Date_c",
						"type": "String"
					},
					{
						"name": "NextStep",
						"type": "String"
					},
					{
						"name": "Approval_Status_c",
						"type": "String"
					},
					{
						"name": "sbaa_ApprovalStatus_c",
						"type": "String"
					},
					{
						"name": "Term_CSH_c",
						"type": "String"
					},
					{
						"name": "Deal_Category_c",
						"type": "String"
					},
					{
						"name": "Service_Type_c",
						"type": "String"
					},
					{
						"name": "Service_Sub_Type_c",
						"type": "String"
					},
					{
						"name": "Campaignid",
						"type": "String"
					},
					{
						"name": "Opportunity_Partner_c",
						"type": "String"
					},
					{
						"name": "Original_Opportunity_c",
						"type": "String"
					},
					{
						"name": "RecordTypeid",
						"type": "String"
					},
					{
						"name": "RecordType_Name",
						"type": "String"
					},
					{
						"name": "LastModifiedDate",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "String"
					},
					{
						"name": "Existing_RLF_Currency_c",
						"type": "String"
					},
					{
						"name": "CurrencyIsoCode",
						"type": "String"
					},
					{
						"name": "SBU_Strategic_Business_Unit_c",
						"type": "String"
					},
					{
						"name": "FiscalPeriod_c",
						"type": "String"
					},
					{
						"name": "Total_PS_Amount__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS2__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS4__c",
						"type": "String"
					},
					{
						"name": "IST_Rep__c",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[Sales_SFDC_Booking]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Opportunity_Incremental_load')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"structure": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "Boolean"
					},
					{
						"name": "AccountId",
						"type": "String"
					},
					{
						"name": "RecordTypeId",
						"type": "String"
					},
					{
						"name": "IsPrivate",
						"type": "Boolean"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "StageName",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "Decimal"
					},
					{
						"name": "Probability",
						"type": "Decimal"
					},
					{
						"name": "ExpectedRevenue",
						"type": "Decimal"
					},
					{
						"name": "TotalOpportunityQuantity",
						"type": "Decimal"
					},
					{
						"name": "CloseDate",
						"type": "DateTime"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "NextStep",
						"type": "String"
					},
					{
						"name": "LeadSource",
						"type": "String"
					},
					{
						"name": "IsClosed",
						"type": "Boolean"
					},
					{
						"name": "IsWon",
						"type": "Boolean"
					},
					{
						"name": "ForecastCategory",
						"type": "String"
					},
					{
						"name": "ForecastCategoryName",
						"type": "String"
					},
					{
						"name": "CurrencyIsoCode",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "HasOpportunityLineItem",
						"type": "Boolean"
					},
					{
						"name": "Pricebook2Id",
						"type": "String"
					},
					{
						"name": "OwnerId",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "DateTime"
					},
					{
						"name": "CreatedById",
						"type": "String"
					},
					{
						"name": "LastModifiedDate",
						"type": "DateTime"
					},
					{
						"name": "LastModifiedById",
						"type": "String"
					},
					{
						"name": "SystemModstamp",
						"type": "DateTime"
					},
					{
						"name": "LastActivityDate",
						"type": "DateTime"
					},
					{
						"name": "FiscalQuarter",
						"type": "Int32"
					},
					{
						"name": "FiscalYear",
						"type": "Int32"
					},
					{
						"name": "Fiscal",
						"type": "String"
					},
					{
						"name": "LastViewedDate",
						"type": "DateTime"
					},
					{
						"name": "LastReferencedDate",
						"type": "DateTime"
					},
					{
						"name": "PartnerAccountId",
						"type": "String"
					},
					{
						"name": "ConnectionReceivedId",
						"type": "String"
					},
					{
						"name": "ConnectionSentId",
						"type": "String"
					},
					{
						"name": "HasOpenActivity",
						"type": "Boolean"
					},
					{
						"name": "HasOverdueTask",
						"type": "Boolean"
					},
					{
						"name": "Status__c",
						"type": "String"
					},
					{
						"name": "Engagement_Manager_Email__c",
						"type": "String"
					},
					{
						"name": "Opportunity_Type__c",
						"type": "String"
					},
					{
						"name": "Weeks_since_last_mod__c",
						"type": "Decimal"
					},
					{
						"name": "Opportunity_Number__c",
						"type": "String"
					},
					{
						"name": "Next_Step_Due_Date__c",
						"type": "DateTime"
					},
					{
						"name": "ACV_ACV_Equiv_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Term_Estimate_Months__c",
						"type": "Decimal"
					},
					{
						"name": "Opportunity_Plan_fields_completed__c",
						"type": "Boolean"
					},
					{
						"name": "Power_Sponsor_Letter_sent__c",
						"type": "Boolean"
					},
					{
						"name": "Final_Approval_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Partner_Account_ID__c",
						"type": "String"
					},
					{
						"name": "Commercial_Manager__c",
						"type": "String"
					},
					{
						"name": "Winform_Reference__c",
						"type": "String"
					},
					{
						"name": "Mgmt_Adj__c",
						"type": "Boolean"
					},
					{
						"name": "PS_FC_Project_Duration_months__c",
						"type": "Decimal"
					},
					{
						"name": "Has_Pearl_line_Items__c",
						"type": "Boolean"
					},
					{
						"name": "GS_Delivery_Captain__c",
						"type": "String"
					},
					{
						"name": "PS_Sales_Comments_Last_Updated__c",
						"type": "DateTime"
					},
					{
						"name": "Software_Opportunity__c",
						"type": "String"
					},
					{
						"name": "CC_list__c",
						"type": "String"
					},
					{
						"name": "PS_Sub_Region__c",
						"type": "String"
					},
					{
						"name": "Total_In_QTR_ILF_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Term_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "OA_Project_Manager__c",
						"type": "String"
					},
					{
						"name": "MainCompetitor__c",
						"type": "String"
					},
					{
						"name": "Other_Competition__c",
						"type": "String"
					},
					{
						"name": "Order_Number__c",
						"type": "String"
					},
					{
						"name": "GSC_Comments__c",
						"type": "String"
					},
					{
						"name": "ILF_Rev_and_CSH_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "CommValue_SUB__c",
						"type": "Decimal"
					},
					{
						"name": "Pricing_Country__c",
						"type": "String"
					},
					{
						"name": "DM_Source__c",
						"type": "String"
					},
					{
						"name": "OA_Project_Director__c",
						"type": "String"
					},
					{
						"name": "RSF_CLD_CB_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "Proposed_Solution__c",
						"type": "String"
					},
					{
						"name": "Has_Manual_Line_items__c",
						"type": "String"
					},
					{
						"name": "License_Renewal__c",
						"type": "Boolean"
					},
					{
						"name": "RFI__c",
						"type": "String"
					},
					{
						"name": "RFP__c",
						"type": "String"
					},
					{
						"name": "Partner_Close_Date__c",
						"type": "DateTime"
					},
					{
						"name": "License_Renewal_nites__c",
						"type": "String"
					},
					{
						"name": "RSF_CLD_CL_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "CommValue_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Estimated_CommValue_CLD__c",
						"type": "Decimal"
					},
					{
						"name": "Estimated_CommValue_HOS__c",
						"type": "Decimal"
					},
					{
						"name": "Estimated_CommValue_SUB__c",
						"type": "Decimal"
					},
					{
						"name": "Locations__c",
						"type": "String"
					},
					{
						"name": "DM_Unique_Id__c",
						"type": "String"
					},
					{
						"name": "Estimate_Delivered_Date__c",
						"type": "DateTime"
					},
					{
						"name": "AccountPlan__c",
						"type": "String"
					},
					{
						"name": "Opportunity_18chr_Id__c",
						"type": "String"
					},
					{
						"name": "GD_Involved__c",
						"type": "Boolean"
					},
					{
						"name": "MainProduct__c",
						"type": "String"
					},
					{
						"name": "SOW_Delivered_Date__c",
						"type": "DateTime"
					},
					{
						"name": "SOW_Required_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Pricing_Country_Justification__c",
						"type": "String"
					},
					{
						"name": "RSF_ILF_K__c",
						"type": "Decimal"
					},
					{
						"name": "SOW_Actual_Date__c",
						"type": "DateTime"
					},
					{
						"name": "SOW__c",
						"type": "String"
					},
					{
						"name": "Develop_SoS_Updated__c",
						"type": "Boolean"
					},
					{
						"name": "Prove_SoS_Updated__c",
						"type": "Boolean"
					},
					{
						"name": "Misys_Forecast__c",
						"type": "String"
					},
					{
						"name": "ContractComments__c",
						"type": "String"
					},
					{
						"name": "Negotiate_SoS_Updated__c",
						"type": "Boolean"
					},
					{
						"name": "Letter_Type_Rollup_Done__c",
						"type": "Boolean"
					},
					{
						"name": "Days_to_Close_Date__c",
						"type": "Decimal"
					},
					{
						"name": "Risk_Weighted_In_Qtr_Revenue_coverage__c",
						"type": "Decimal"
					},
					{
						"name": "Request_PS_Pricing_Scoping_Assist__c",
						"type": "String"
					},
					{
						"name": "Evaluation_Plan_Agreed_Upon__c",
						"type": "Boolean"
					},
					{
						"name": "SW_Delivered_if_applicable__c",
						"type": "String"
					},
					{
						"name": "Preferred_Vendor_status_confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "In_QTR_ILF_CB_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_CB_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Date_opportunity_moved_to_SS4__c",
						"type": "DateTime"
					},
					{
						"name": "Legal_Details_required__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_XX_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "PartnerPath_ID__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_XX_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Main_GSC_Service_quoted__c",
						"type": "String"
					},
					{
						"name": "Compelling_Event__c",
						"type": "String"
					},
					{
						"name": "Name_of_Sponsor__c",
						"type": "String"
					},
					{
						"name": "In_YR_ILF_XX_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_XX_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Date_PS_Estimate_needed_by__c",
						"type": "DateTime"
					},
					{
						"name": "Date_BSG_RFP_needed_by__c",
						"type": "DateTime"
					},
					{
						"name": "Date_BSG_RFI_needed_by__c",
						"type": "DateTime"
					},
					{
						"name": "Partner_Comments__c",
						"type": "String"
					},
					{
						"name": "RSF_ILF_XX_TP__c",
						"type": "Decimal"
					},
					{
						"name": "Approver_Names__c",
						"type": "String"
					},
					{
						"name": "Rollup_Calculate_Batch_Hold__c",
						"type": "Boolean"
					},
					{
						"name": "ARIS_product_included__c",
						"type": "Boolean"
					},
					{
						"name": "MAPS_product_included__c",
						"type": "Boolean"
					},
					{
						"name": "Partner_Role_s__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS2__c",
						"type": "DateTime"
					},
					{
						"name": "OLIs_Pushed_To_Parent__c",
						"type": "Boolean"
					},
					{
						"name": "Sales_Region_FY07__c",
						"type": "String"
					},
					{
						"name": "RSF_ILF_XX__c",
						"type": "Decimal"
					},
					{
						"name": "Account_for_H_O_communications__c",
						"type": "String"
					},
					{
						"name": "SDA_3_Vision_Roadmap__c",
						"type": "String"
					},
					{
						"name": "RSF_CLD_XX__c",
						"type": "Decimal"
					},
					{
						"name": "Contract_Ids__c",
						"type": "String"
					},
					{
						"name": "Existing_RLF__c",
						"type": "Decimal"
					},
					{
						"name": "Date_of_License_Term_Expiry__c",
						"type": "DateTime"
					},
					{
						"name": "User_is_Opportunity_Owner__c",
						"type": "Boolean"
					},
					{
						"name": "GSU_Opportunity__c",
						"type": "Boolean"
					},
					{
						"name": "Date_GSU_Updated__c",
						"type": "DateTime"
					},
					{
						"name": "GSU_Updated_by__c",
						"type": "String"
					},
					{
						"name": "GSC_Quote_Status__c",
						"type": "String"
					},
					{
						"name": "GSU_Owner__c",
						"type": "String"
					},
					{
						"name": "GSU_Comments__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_CL_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "Why_do_something__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_CL_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Why_Misys_Unique_Selling_Point__c",
						"type": "String"
					},
					{
						"name": "Standard_Increase_Target__c",
						"type": "Decimal"
					},
					{
						"name": "Risk_Weighted_Services_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Stage3_passed__c",
						"type": "Boolean"
					},
					{
						"name": "SQO_Opportunity__c",
						"type": "DateTime"
					},
					{
						"name": "Stage_3_reverted__c",
						"type": "Boolean"
					},
					{
						"name": "MLT_review__c",
						"type": "String"
					},
					{
						"name": "RSF_HOS_XX__c",
						"type": "Decimal"
					},
					{
						"name": "Increase_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Rating__c",
						"type": "String"
					},
					{
						"name": "Letter_Type__c",
						"type": "String"
					},
					{
						"name": "Discount_vs_list__c",
						"type": "Decimal"
					},
					{
						"name": "Support_Level__c",
						"type": "Decimal"
					},
					{
						"name": "Aged_Debt__c",
						"type": "Decimal"
					},
					{
						"name": "Size_of_Customer__c",
						"type": "Decimal"
					},
					{
						"name": "Pipeline__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_XX__c",
						"type": "Decimal"
					},
					{
						"name": "New_name__c",
						"type": "Decimal"
					},
					{
						"name": "Confirm_Letter_sent_to_Client__c",
						"type": "Boolean"
					},
					{
						"name": "Accept_RLF_Increase__c",
						"type": "String"
					},
					{
						"name": "Product_for_GSC_Service__c",
						"type": "String"
					},
					{
						"name": "Agreed_percent_increase_by_RFA__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_XX_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RFA_Committee_comments__c",
						"type": "String"
					},
					{
						"name": "Products_Update__c",
						"type": "String"
					},
					{
						"name": "Approval_Status__c",
						"type": "String"
					},
					{
						"name": "SOS_Last_Update__c",
						"type": "DateTime"
					},
					{
						"name": "Total_Approvals_required__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_CB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_XX_TP__c",
						"type": "Decimal"
					},
					{
						"name": "Completed_Strength_of_Sales_Checklist__c",
						"type": "Boolean"
					},
					{
						"name": "Billing_Operations_action__c",
						"type": "String"
					},
					{
						"name": "Name_of_Power_Sponsor__c",
						"type": "String"
					},
					{
						"name": "Q1_ILF_CL_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Estimates_Provided_in_person_days__c",
						"type": "String"
					},
					{
						"name": "RSF_CLD_IM__c",
						"type": "Decimal"
					},
					{
						"name": "Attach_Sales_Representation_Letter__c",
						"type": "Boolean"
					},
					{
						"name": "FiscalPeriod__c",
						"type": "String"
					},
					{
						"name": "RLF_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Accretive_RLF__c",
						"type": "Decimal"
					},
					{
						"name": "Sales_Presentation_Letter_needed__c",
						"type": "Boolean"
					},
					{
						"name": "Deal_Category__c",
						"type": "String"
					},
					{
						"name": "Deliver_Contracts__c",
						"type": "DateTime"
					},
					{
						"name": "RSF_PS_FV__c",
						"type": "Decimal"
					},
					{
						"name": "Tickle_Opportunity__c",
						"type": "Boolean"
					},
					{
						"name": "Marketing_Contributed_Program__c",
						"type": "String"
					},
					{
						"name": "Request_Deal_Desk_Review__c",
						"type": "Boolean"
					},
					{
						"name": "Deal_Desk_Review_Status__c",
						"type": "String"
					},
					{
						"name": "Deal_Desk_Review_Notes__c",
						"type": "String"
					},
					{
						"name": "SOS_days_passed_since_last_update__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_CM_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "Installed_Supplier__c",
						"type": "String"
					},
					{
						"name": "RSF_CLD_TB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_CM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Forecast_Probability__c",
						"type": "String"
					},
					{
						"name": "RSF_SUB_XX_TP__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_ER_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Commercial_Prop__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_CM_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_TB__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_ER_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "Deal_Desk_Exemption__c",
						"type": "Boolean"
					},
					{
						"name": "Amounts_Approved_at_Deal_Desk__c",
						"type": "String"
					},
					{
						"name": "Comment_why_ReApproval_is_not_required__c",
						"type": "String"
					},
					{
						"name": "Q1_ILF_TB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_CommValue_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Marketing_Generated_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Deal_Desk_Review_Request_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Opportunity_Partner__c",
						"type": "String"
					},
					{
						"name": "Risk_Weighted_in_QTR_Rev_CSH_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_CB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_CL_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_CM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_ER_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_TB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_CB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_CL_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_CM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_ER_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Deal_Desk_Approved_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Q3_ILF_TB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_CB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_CL_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_CM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_ER_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_TB_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Marketing_Generated_Program__c",
						"type": "String"
					},
					{
						"name": "Marketing_Involved_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Regional_Sales_Manager_Comments__c",
						"type": "String"
					},
					{
						"name": "Days_since_last_activity__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CM_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_ER_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_ER_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_IM_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_TB_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "Marketing_Involved_Program__c",
						"type": "String"
					},
					{
						"name": "Deal_Detail_Type__c",
						"type": "String"
					},
					{
						"name": "RSF_ILF_B__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_T__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_B__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_T__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_PS_B__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_PS_T__c",
						"type": "Decimal"
					},
					{
						"name": "rvpe__DateAssignedToPartner__c",
						"type": "DateTime"
					},
					{
						"name": "Above_Below_RTP_percent__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ASP_B__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ASP_T__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_PSS_B__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_PSS_T__c",
						"type": "Decimal"
					},
					{
						"name": "Entity__c",
						"type": "String"
					},
					{
						"name": "RLF_Kicker__c",
						"type": "String"
					},
					{
						"name": "Completed_PS_Approvals__c",
						"type": "String"
					},
					{
						"name": "RSD_Lost_Approval__c",
						"type": "String"
					},
					{
						"name": "RSF_HOS_CM_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "CommOps_Manager__c",
						"type": "String"
					},
					{
						"name": "rvpe__IsDealRegistration__c",
						"type": "Boolean"
					},
					{
						"name": "RSF_HOS_ER_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "Notification_letter_URL_pre_advisory__c",
						"type": "String"
					},
					{
						"name": "Conga_Composer_Letter_ID__c",
						"type": "String"
					},
					{
						"name": "Opportunity_Primary_Campaign__c",
						"type": "String"
					},
					{
						"name": "Notification_Letter_URL__c",
						"type": "String"
					},
					{
						"name": "Pricing_Country_Text__c",
						"type": "String"
					},
					{
						"name": "RSF_RLF_K__c",
						"type": "Decimal"
					},
					{
						"name": "Data_Quality_Description__c",
						"type": "String"
					},
					{
						"name": "Data_Quality_Score__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_IM_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "Licence_Compliance_Period__c",
						"type": "String"
					},
					{
						"name": "RSF_HOS_TB_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "Std_Increase_percent_requested_by_Sales__c",
						"type": "Decimal"
					},
					{
						"name": "Reason_why_different_Standard_required__c",
						"type": "String"
					},
					{
						"name": "RSD_RFD_comment_on_proposed_change__c",
						"type": "String"
					},
					{
						"name": "Opportunity__c",
						"type": "String"
					},
					{
						"name": "PS_Architect__c",
						"type": "String"
					},
					{
						"name": "Re_incorporated__c",
						"type": "String"
					},
					{
						"name": "rvpe__NotifyRVMember__c",
						"type": "Boolean"
					},
					{
						"name": "ASP_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Pearl_Opp_Stop_Close__c",
						"type": "String"
					},
					{
						"name": "Third_Party_Content__c",
						"type": "Boolean"
					},
					{
						"name": "Opportunity_Desk_Review_Requestor_Email__c",
						"type": "String"
					},
					{
						"name": "Closed_Won_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Lead_Created_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Lead_to_Cash__c",
						"type": "Decimal"
					},
					{
						"name": "Competitive_Differentiators__c",
						"type": "String"
					},
					{
						"name": "RSF_PS_K__c",
						"type": "Decimal"
					},
					{
						"name": "Challenger_Overview__c",
						"type": "String"
					},
					{
						"name": "Bypass_Workflows__c",
						"type": "Decimal"
					},
					{
						"name": "rvpe__PartnerLastModifiedDate__c",
						"type": "DateTime"
					},
					{
						"name": "Original_Opportunity_ID__c",
						"type": "String"
					},
					{
						"name": "rvpe__PartnerOpportunityAcceptance__c",
						"type": "String"
					},
					{
						"name": "Conga_Composer_Email_Template_ID__c",
						"type": "String"
					},
					{
						"name": "Push_Back_post_notification_Status__c",
						"type": "String"
					},
					{
						"name": "Push_Back_RFA_Committee_Comments__c",
						"type": "String"
					},
					{
						"name": "Push_Back_RSD_RFD_comments__c",
						"type": "String"
					},
					{
						"name": "Push_Back_RSD_RFD_Proposed_Percent__c",
						"type": "Decimal"
					},
					{
						"name": "Push_Back_RFA_Committee_Agreed_Inc_prcnt__c",
						"type": "Decimal"
					},
					{
						"name": "rvpe__RVAccount__c",
						"type": "String"
					},
					{
						"name": "Push_Back_Sales_Comments__c",
						"type": "String"
					},
					{
						"name": "New_opportunity_Re_Incorporated__c",
						"type": "String"
					},
					{
						"name": "RSF_PS_ALL__c",
						"type": "Decimal"
					},
					{
						"name": "Global_Account_Manager_Comments__c",
						"type": "String"
					},
					{
						"name": "Original_Opportunity_Number__c",
						"type": "String"
					},
					{
						"name": "Total_PS_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Total_PSS_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Items__c",
						"type": "Boolean"
					},
					{
						"name": "In_QTR_ILF_IM_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_IM_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "CQO_not_allowed__c",
						"type": "Boolean"
					},
					{
						"name": "NS_UAT__c",
						"type": "String"
					},
					{
						"name": "Is_PearlMastered__c",
						"type": "Boolean"
					},
					{
						"name": "SUB_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "War_project_Approval_status__c",
						"type": "Decimal"
					},
					{
						"name": "Split_Deal_Info__c",
						"type": "String"
					},
					{
						"name": "Opportunity_Counter__c",
						"type": "Decimal"
					},
					{
						"name": "Total_License_Value__c",
						"type": "Decimal"
					},
					{
						"name": "Won_Loss_Review_fields_completed__c",
						"type": "Decimal"
					},
					{
						"name": "Campaign_Team__c",
						"type": "String"
					},
					{
						"name": "EDD_Exempt_Flag__c",
						"type": "String"
					},
					{
						"name": "EDD_FLAG__c",
						"type": "Boolean"
					},
					{
						"name": "RPA__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Items__c",
						"type": "Boolean"
					},
					{
						"name": "Prior_Forecast_Category__c",
						"type": "String"
					},
					{
						"name": "PS_zero_Item__c",
						"type": "Boolean"
					},
					{
						"name": "PS_Ball_Park_Required__c",
						"type": "String"
					},
					{
						"name": "PS_Ball_Park_Pricing_Details__c",
						"type": "String"
					},
					{
						"name": "Date_PS_Ball_Park_Delivered__c",
						"type": "DateTime"
					},
					{
						"name": "Date_PS_Ball_Park_needed_by__c",
						"type": "DateTime"
					},
					{
						"name": "Date_PS_Ball_Park_Requested__c",
						"type": "DateTime"
					},
					{
						"name": "Solution_Fit_Approval_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Loss_review_RT_name__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_TB_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "Key_Dependencies__c",
						"type": "String"
					},
					{
						"name": "RSF_SUB_CB_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSM_Owner__c",
						"type": "String"
					},
					{
						"name": "Months_to_project_start__c",
						"type": "Decimal"
					},
					{
						"name": "PS_FC_Start_Date2__c",
						"type": "DateTime"
					},
					{
						"name": "PS_Top_Opportunity__c",
						"type": "Boolean"
					},
					{
						"name": "Executive_Sponsor_alignment__c",
						"type": "String"
					},
					{
						"name": "Date_Partner_Added__c",
						"type": "DateTime"
					},
					{
						"name": "Deal_description_summary__c",
						"type": "String"
					},
					{
						"name": "RSF_ASP_S__c",
						"type": "Decimal"
					},
					{
						"name": "LC_Opp__c",
						"type": "Boolean"
					},
					{
						"name": "RSF_ILF_S__c",
						"type": "Decimal"
					},
					{
						"name": "No_software_included_in_agreement__c",
						"type": "Boolean"
					},
					{
						"name": "RSF_PSS_S__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_PS_S__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_S__c",
						"type": "Decimal"
					},
					{
						"name": "InFusion_Agreement_fee_Approval_Status__c",
						"type": "String"
					},
					{
						"name": "BR_AT_Lost_Approval__c",
						"type": "String"
					},
					{
						"name": "CloseDate_Text__c",
						"type": "String"
					},
					{
						"name": "Expected_LI_From_Pearl__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Reduction_amount_GBP__c",
						"type": "Decimal"
					},
					{
						"name": "Length_of_RLF_Holiday__c",
						"type": "Decimal"
					},
					{
						"name": "Quarter_Push_Counter__c",
						"type": "Decimal"
					},
					{
						"name": "Database_Platform__c",
						"type": "String"
					},
					{
						"name": "Push_Counter__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CL_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CM_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_ER_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_IM_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_TB_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CL_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CB_CommValue__c",
						"type": "Decimal"
					},
					{
						"name": "Head_of_CommOps_Lost_Approval__c",
						"type": "String"
					},
					{
						"name": "Main_Product_Family__c",
						"type": "String"
					},
					{
						"name": "L2C_days__c",
						"type": "Decimal"
					},
					{
						"name": "FQ__c",
						"type": "String"
					},
					{
						"name": "CommValue_CSH_RSF__c",
						"type": "Decimal"
					},
					{
						"name": "SBQQ__AmendedContract__c",
						"type": "String"
					},
					{
						"name": "Days_opportunity_is_taking_to_close__c",
						"type": "Decimal"
					},
					{
						"name": "Partner_Originated__c",
						"type": "String"
					},
					{
						"name": "Contractual_Billing_Address__c",
						"type": "String"
					},
					{
						"name": "Contractual_Shipping_Address__c",
						"type": "String"
					},
					{
						"name": "Has_Sales_Orders__c",
						"type": "Boolean"
					},
					{
						"name": "PS_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "SBQQ__Contracted__c",
						"type": "Boolean"
					},
					{
						"name": "RLF_Amount_K__c",
						"type": "Decimal"
					},
					{
						"name": "SBQQ__CreateContractedPrices__c",
						"type": "Boolean"
					},
					{
						"name": "Last_Close_Date__c",
						"type": "DateTime"
					},
					{
						"name": "SBQQ__OrderGroupID__c",
						"type": "String"
					},
					{
						"name": "Accretive_RLF_Percentage__c",
						"type": "Decimal"
					},
					{
						"name": "Subscriber_Billing_Account__c",
						"type": "String"
					},
					{
						"name": "PS_Originated__c",
						"type": "Boolean"
					},
					{
						"name": "rvpe__RVMember__c",
						"type": "String"
					},
					{
						"name": "RA2_product_included__c",
						"type": "Boolean"
					},
					{
						"name": "Days_for_Closed_Opportunity__c",
						"type": "Decimal"
					},
					{
						"name": "GTM_Next_Action_Owner__c",
						"type": "String"
					},
					{
						"name": "Islamic__c",
						"type": "String"
					},
					{
						"name": "Reason_for_Loss__c",
						"type": "String"
					},
					{
						"name": "RSF_ASP_K__c",
						"type": "Decimal"
					},
					{
						"name": "Amounts_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "SBQQ__Ordered__c",
						"type": "Boolean"
					},
					{
						"name": "Assets_and_entitlements_turned_back_on__c",
						"type": "Boolean"
					},
					{
						"name": "Bill_To_Ship_To_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "Cleared_for_Business__c",
						"type": "Boolean"
					},
					{
						"name": "Client_Signed_contract_attached__c",
						"type": "Boolean"
					},
					{
						"name": "Closed_Won__c",
						"type": "Boolean"
					},
					{
						"name": "Legal_Notification_Hyperlinks__c",
						"type": "String"
					},
					{
						"name": "SBQQ__PrimaryQuote__c",
						"type": "String"
					},
					{
						"name": "In_QTR_ILF_TB_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "ContractID__c",
						"type": "String"
					},
					{
						"name": "SOW_primary_Contract__c",
						"type": "String"
					},
					{
						"name": "Solution_Fit_Qualification__c",
						"type": "Boolean"
					},
					{
						"name": "Contract_Entitlement_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "Contract_Start_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Contract__c",
						"type": "String"
					},
					{
						"name": "SBQQ__QuotePricebookId__c",
						"type": "String"
					},
					{
						"name": "Control_Scale__c",
						"type": "String"
					},
					{
						"name": "SBQQ__Renewal__c",
						"type": "Boolean"
					},
					{
						"name": "Country__c",
						"type": "String"
					},
					{
						"name": "SBQQ__RenewedContract__c",
						"type": "String"
					},
					{
						"name": "Customer_PO__c",
						"type": "String"
					},
					{
						"name": "Deal_Term_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "Deal_Term_in_Months__c",
						"type": "String"
					},
					{
						"name": "Legal_Notification_Recipient_2_Id__c",
						"type": "String"
					},
					{
						"name": "Documentation_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "Opp_partner_Ult_Parent__c",
						"type": "String"
					},
					{
						"name": "Training_plans_in_place__c",
						"type": "Boolean"
					},
					{
						"name": "BOB_comments__c",
						"type": "String"
					},
					{
						"name": "Finance_Approved_Date__c",
						"type": "DateTime"
					},
					{
						"name": "First_meaningful_conversation_logged__c",
						"type": "Boolean"
					},
					{
						"name": "Finance_Notes__c",
						"type": "String"
					},
					{
						"name": "Coach_admits_pain__c",
						"type": "Boolean"
					},
					{
						"name": "Client_agrees_to_Collaboration_Plan__c",
						"type": "Boolean"
					},
					{
						"name": "Close_Plan_updated__c",
						"type": "Boolean"
					},
					{
						"name": "Legal_Notification_Recipient_3_Id__c",
						"type": "String"
					},
					{
						"name": "Value_Statement__c",
						"type": "String"
					},
					{
						"name": "Similar_solution_client_name__c",
						"type": "String"
					},
					{
						"name": "Intacct_Conversion_Rate__c",
						"type": "Decimal"
					},
					{
						"name": "Client_agrees_to_develop_business_case__c",
						"type": "Boolean"
					},
					{
						"name": "Healthcheck_plans_in_place__c",
						"type": "Boolean"
					},
					{
						"name": "Legal_Approved_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Legal_Details__c",
						"type": "String"
					},
					{
						"name": "Legal_Notes__c",
						"type": "String"
					},
					{
						"name": "Legal_Review_Request_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Legal_Review__c",
						"type": "String"
					},
					{
						"name": "License_Total__c",
						"type": "Decimal"
					},
					{
						"name": "License_Unit_Price__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_CB_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Ball_Park_Estimate_Completed_by__c",
						"type": "String"
					},
					{
						"name": "Solution_Fit_Review_Notes__c",
						"type": "String"
					},
					{
						"name": "Order_Type__c",
						"type": "String"
					},
					{
						"name": "Original_Opportunity__c",
						"type": "String"
					},
					{
						"name": "SBU_Strategic_Business_Unit__c",
						"type": "String"
					},
					{
						"name": "Fusion_Advance__c",
						"type": "Boolean"
					},
					{
						"name": "sbaa__ApprovalStatus__c",
						"type": "String"
					},
					{
						"name": "PS_Pricing_Details__c",
						"type": "String"
					},
					{
						"name": "PS_Pricing_Scope_Request_Time_Stamp__c",
						"type": "DateTime"
					},
					{
						"name": "PS_Review__c",
						"type": "String"
					},
					{
						"name": "PS_Total__c",
						"type": "Decimal"
					},
					{
						"name": "Pain_Scale__c",
						"type": "String"
					},
					{
						"name": "Payment_Term__c",
						"type": "String"
					},
					{
						"name": "Payment_Terms__c",
						"type": "Boolean"
					},
					{
						"name": "Payment_Type__c",
						"type": "String"
					},
					{
						"name": "Power_Scale__c",
						"type": "String"
					},
					{
						"name": "sbaa__ApprovalStep__c",
						"type": "Decimal"
					},
					{
						"name": "sbaa__Approver__c",
						"type": "String"
					},
					{
						"name": "sbaa__StepApproved__c",
						"type": "Boolean"
					},
					{
						"name": "Products_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "In_YR_ILF_CB_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "sbaa__SubmittedDate__c",
						"type": "DateTime"
					},
					{
						"name": "sbaa__SubmittedUser__c",
						"type": "String"
					},
					{
						"name": "DHCA_GP_ACV__c",
						"type": "Decimal"
					},
					{
						"name": "Project_Template__c",
						"type": "String"
					},
					{
						"name": "ILF_Equiv_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Equiv_SUB__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Equiv_CLD__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Equiv_HOS__c",
						"type": "Decimal"
					},
					{
						"name": "Request_Legal_Review__c",
						"type": "Boolean"
					},
					{
						"name": "Legal_Notification_Recipient_4_Id__c",
						"type": "String"
					},
					{
						"name": "CLD_CB_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "SF_Project_Already_Created__c",
						"type": "Boolean"
					},
					{
						"name": "In_YR_ILF_CL_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "Pushed_to_OpenAir__c",
						"type": "Boolean"
					},
					{
						"name": "SentChatterAlert__c",
						"type": "Boolean"
					},
					{
						"name": "In_YR_ILF_CL_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "CLD_CL_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "CLD_ER_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "CLD_CM_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "CLD_TB_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "CLD_IM_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "SUB_CB_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_CM_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_CM_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_ER_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "Sun_Debtor_Code__c",
						"type": "String"
					},
					{
						"name": "SUB_CL_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "SUB_ER_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "SUB_CM_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "SUB_TB_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "SUB_IM_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_CB_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_CL_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_ER_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_CM_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "Value_Scale__c",
						"type": "String"
					},
					{
						"name": "Contract_End_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Contract_Full_Title__c",
						"type": "String"
					},
					{
						"name": "Vision_Scale__c",
						"type": "String"
					},
					{
						"name": "Strength_of_Sale__c",
						"type": "Decimal"
					},
					{
						"name": "Renewal_Benchmark_ILF__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_TB_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_IM_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "CSH_CB_ILF_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "Billing_Currency__c",
						"type": "String"
					},
					{
						"name": "CSH_CL_ILF_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "Annualized_Bookings_Total__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_B_OI_percent__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_K_OI_percent__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_S_OI_percent__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_T_OI_percent__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_B_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_K_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_S_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "In_QTR_ILF_T_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "License_Discount__c",
						"type": "Decimal"
					},
					{
						"name": "License_List_Price_Sum__c",
						"type": "Decimal"
					},
					{
						"name": "Product_Interest__c",
						"type": "String"
					},
					{
						"name": "PS_Detailed_Estimate_Completed_By__c",
						"type": "String"
					},
					{
						"name": "CSH_ER_ILF_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "GD_Owner__c",
						"type": "String"
					},
					{
						"name": "Term_Maintenance_Total__c",
						"type": "Decimal"
					},
					{
						"name": "Reviewed_PS_Opportunity_Review_meeting__c",
						"type": "String"
					},
					{
						"name": "PS_SOW_Completed_by__c",
						"type": "String"
					},
					{
						"name": "PS_Risk_Category__c",
						"type": "String"
					},
					{
						"name": "PS_Deal_Captain__c",
						"type": "String"
					},
					{
						"name": "PS_Stage__c",
						"type": "String"
					},
					{
						"name": "PS_Man_days__c",
						"type": "Decimal"
					},
					{
						"name": "Total_Man_days_estimated__c",
						"type": "Decimal"
					},
					{
						"name": "Average_daily_rate__c",
						"type": "String"
					},
					{
						"name": "New_exisitng_business__c",
						"type": "String"
					},
					{
						"name": "Expected_Margin__c",
						"type": "String"
					},
					{
						"name": "Service_Package_Type__c",
						"type": "String"
					},
					{
						"name": "CSH_CM_ILF_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "Loss_Review_fields_completed__c",
						"type": "Decimal"
					},
					{
						"name": "Finance_Credit_Check_Status__c",
						"type": "String"
					},
					{
						"name": "MS_LI_Created__c",
						"type": "Boolean"
					},
					{
						"name": "MS_Rollup_Done__c",
						"type": "Boolean"
					},
					{
						"name": "PS_Deal_Type__c",
						"type": "String"
					},
					{
						"name": "CSH_TB_ILF_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "Deal_Desk_Confirmed__c",
						"type": "Boolean"
					},
					{
						"name": "FireBigDealAlert__c",
						"type": "Boolean"
					},
					{
						"name": "Prod18CharId_Formula__c",
						"type": "String"
					},
					{
						"name": "Prod18CharId__c",
						"type": "String"
					},
					{
						"name": "Other_Competitor__c",
						"type": "String"
					},
					{
						"name": "RSF_PSS_K__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Bid_Plan_Attached__c",
						"type": "Boolean"
					},
					{
						"name": "RSF_FD_B__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_FD_T__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_FD_S__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_FD_K__c",
						"type": "Decimal"
					},
					{
						"name": "Licence_Term__c",
						"type": "Decimal"
					},
					{
						"name": "Legal_Notification_Recipient_1_Id__c",
						"type": "String"
					},
					{
						"name": "Legal_Notification_Recipient_5_Id__c",
						"type": "String"
					},
					{
						"name": "CSH_IM_ILF_ILF_Equiv__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Margin_Category__c",
						"type": "String"
					},
					{
						"name": "PS_Close_Date__c",
						"type": "DateTime"
					},
					{
						"name": "In_YR_ILF_ER_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "GSC_Solution_Design_Doc_received__c",
						"type": "Boolean"
					},
					{
						"name": "Number_of_close_plans_created__c",
						"type": "Decimal"
					},
					{
						"name": "Cls_Plans_created__c",
						"type": "String"
					},
					{
						"name": "SS2_Age__c",
						"type": "Decimal"
					},
					{
						"name": "Target_Installation_Date__c",
						"type": "DateTime"
					},
					{
						"name": "ILF_ILF_Equiv_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Cloud_Solution__c",
						"type": "String"
					},
					{
						"name": "PS_Practice__c",
						"type": "String"
					},
					{
						"name": "Partner_Owner_Lookup__c",
						"type": "String"
					},
					{
						"name": "Partner_Owner_User__c",
						"type": "Decimal"
					},
					{
						"name": "TCV_CLD__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_CB__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_CL__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_CM__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_ER__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_IM__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_IM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_ILF_TB__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_CB__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_CL__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_CM__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_ER__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_IM__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_IM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_ILF_TB__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_CB__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_CL__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_CM__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_ER__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_IM__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_IM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_ILF_TB__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_CB__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_CL__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_CM__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_ER__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_IM__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_IM_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_ILF_TB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CL__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_ER__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_IM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_TB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_CB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_CL__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_CM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_ER__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_IM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_TB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_CB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_CL__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_CM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_ER__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_IM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_TB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CL__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_ER__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_IM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_TB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_CB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_CL__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_CM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_ER__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_IM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_TB__c",
						"type": "Decimal"
					},
					{
						"name": "TCV_HOS__c",
						"type": "Decimal"
					},
					{
						"name": "TCV_SUB__c",
						"type": "Decimal"
					},
					{
						"name": "Account_Site__c",
						"type": "String"
					},
					{
						"name": "Closed_Last_Month__c",
						"type": "Boolean"
					},
					{
						"name": "In_YR_ILF_IM_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_IM_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Maintenance_Sweep_Status__c",
						"type": "String"
					},
					{
						"name": "Subscription_Based__c",
						"type": "Boolean"
					},
					{
						"name": "Opportunity_Number_Search__c",
						"type": "String"
					},
					{
						"name": "OpenAir_linked_project_ID__c",
						"type": "String"
					},
					{
						"name": "In_YR_ILF_TB_PERCENT__c",
						"type": "Decimal"
					},
					{
						"name": "In_YR_ILF_TB_Revenue__c",
						"type": "Decimal"
					},
					{
						"name": "Q1_Revenue_Total__c",
						"type": "Decimal"
					},
					{
						"name": "Q2_Revenue_Total__c",
						"type": "Decimal"
					},
					{
						"name": "Q3_Revenue_Total__c",
						"type": "Decimal"
					},
					{
						"name": "Q4_Revenue_Total__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CL_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_CM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_ER_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_IM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_HOS_TB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_CB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_CL_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_CM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_ER_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_IM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_ILF_TB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_CB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_CL_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_CM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_ER_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_IM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_RLF_TB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CL_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_CM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_ER_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_IM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SUB_TB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_CB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_CL_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_CM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_ER_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_IM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_SVC_TB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "Total_ILF_In_Qtr__c",
						"type": "Decimal"
					},
					{
						"name": "Total_ILF_In_Year__c",
						"type": "Decimal"
					},
					{
						"name": "Request_Opportunity_Desk_Review__c",
						"type": "Boolean"
					},
					{
						"name": "Opportunity_Desk_Review_Request_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Opportunity_Desk_Review_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Opportunity_Desk_Review_Notes__c",
						"type": "String"
					},
					{
						"name": "Opportunity_Count__c",
						"type": "Decimal"
					},
					{
						"name": "Date_Stage_Changed__c",
						"type": "DateTime"
					},
					{
						"name": "Partner_Advisory_Manager_Comment__c",
						"type": "String"
					},
					{
						"name": "CSH_Commissionable_Value__c",
						"type": "Decimal"
					},
					{
						"name": "Existing_RLF_Currency__c",
						"type": "String"
					},
					{
						"name": "Opportunity_Age__c",
						"type": "Decimal"
					},
					{
						"name": "Age_Score__c",
						"type": "Decimal"
					},
					{
						"name": "TCV_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "PCS__c",
						"type": "Decimal"
					},
					{
						"name": "Scaling__c",
						"type": "Decimal"
					},
					{
						"name": "Score__c",
						"type": "Decimal"
					},
					{
						"name": "Stage_Duration__c",
						"type": "Decimal"
					},
					{
						"name": "Stage_Duration_Score__c",
						"type": "Decimal"
					},
					{
						"name": "CommValue_HOS__c",
						"type": "Decimal"
					},
					{
						"name": "mkto_si__MarketoAnalyzer__c",
						"type": "String"
					},
					{
						"name": "PS_Quote_Approval_Status__c",
						"type": "String"
					},
					{
						"name": "OppWorkflowGatekeeper__c",
						"type": "Boolean"
					},
					{
						"name": "Deal_Order_Type__c",
						"type": "String"
					},
					{
						"name": "Cross_Product_Deal__c",
						"type": "Boolean"
					},
					{
						"name": "FEDRLF_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "FEDRLF_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "FEDRLF_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "FEDRLF_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "FEDRLF_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "FED_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "FED_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "FED_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "FED_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "FED_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "ILF_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "ILF_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "ILF_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "INPROP_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "INPROP_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "INPROP_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "INPROP_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "INPROP_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "INTINC_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "INTINC_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "INTINC_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "INTINC_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "INTINC_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PFT_Audit_History__c",
						"type": "String"
					},
					{
						"name": "PSS_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PSS_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "PSS_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PSS_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "PSS_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "PS_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "PS_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "PTF_Approval_Status__c",
						"type": "String"
					},
					{
						"name": "RA2RLF_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RA2RLF_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "RA2RLF_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RA2RLF_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "RA2RLF_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RA2_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RA2_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "RA2_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RA2_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "RA2_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Holiday_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Holiday_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Manual_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Manual_Notes__c",
						"type": "String"
					},
					{
						"name": "RLF_Pearl_CO_Value__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Pearl_Explanation__c",
						"type": "String"
					},
					{
						"name": "RLF_Sold_Value__c",
						"type": "Decimal"
					},
					{
						"name": "Deal_Type__c",
						"type": "String"
					},
					{
						"name": "PS_Cost_Centre_Internal_Id__c",
						"type": "String"
					},
					{
						"name": "CommValue_CLD__c",
						"type": "Decimal"
					},
					{
						"name": "Rev_Recognition_Date__c",
						"type": "DateTime"
					},
					{
						"name": "Pearl_Identified_issues__c",
						"type": "Boolean"
					},
					{
						"name": "Pearl_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Last_years_MS_Opp__c",
						"type": "String"
					},
					{
						"name": "PS_Cost_Centre__c",
						"type": "String"
					},
					{
						"name": "PS_Practice_Name__c",
						"type": "String"
					},
					{
						"name": "PS_Practice_Unique_Code__c",
						"type": "String"
					},
					{
						"name": "WAR_Approval_Status__c",
						"type": "String"
					},
					{
						"name": "Next_years_M_S_Opp__c",
						"type": "String"
					},
					{
						"name": "Partner_Products__c",
						"type": "String"
					},
					{
						"name": "Partnership_Agreement_Approval_Status__c",
						"type": "String"
					},
					{
						"name": "PSS_Campaign__c",
						"type": "String"
					},
					{
						"name": "HealthScore__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Sales_Comments__c",
						"type": "String"
					},
					{
						"name": "ILF_HOS_SUB_amount__c",
						"type": "Decimal"
					},
					{
						"name": "Which_CVT_offering_was_used__c",
						"type": "String"
					},
					{
						"name": "Opp_Deal_Desk_Review_Dt__c",
						"type": "DateTime"
					},
					{
						"name": "Opp_Deal_Desk_Review_Dt_Weekday__c",
						"type": "String"
					},
					{
						"name": "Service_Type__c",
						"type": "String"
					},
					{
						"name": "Service_Sub_Type__c",
						"type": "String"
					},
					{
						"name": "IST_Rep__c",
						"type": "String"
					},
					{
						"name": "OpportunityHEALTH__c",
						"type": "String"
					},
					{
						"name": "CLD_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Contract_Length__c",
						"type": "Decimal"
					},
					{
						"name": "HOS_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CB_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CB__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CL_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CL__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CM_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_CM__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_ER_TP__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_ER__c",
						"type": "Decimal"
					},
					{
						"name": "RSF_CLD_IM_TP__c",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"objectApiName": "Opportunity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce_Opportunity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"structure": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "OwnerId",
						"type": "String"
					},
					{
						"name": "Owner.Name",
						"type": "String"
					},
					{
						"name": "Owner.Sub_Region__c",
						"type": "String"
					},
					{
						"name": "CloseDate",
						"type": "DateTime"
					},
					{
						"name": "StageName",
						"type": "String"
					},
					{
						"name": "Deal_Type__c",
						"type": "String"
					},
					{
						"name": "MainProduct__c",
						"type": "String"
					},
					{
						"name": "OpportunityHEALTH__c",
						"type": "String"
					},
					{
						"name": "RLF_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Regional_Sales_Manager_Comments__c",
						"type": "String"
					},
					{
						"name": "AccountId",
						"type": "String"
					},
					{
						"name": "Account.Name",
						"type": "String"
					},
					{
						"name": "Opportunity_18chr_Id__c",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "Decimal"
					},
					{
						"name": "Order_Number__c",
						"type": "String"
					},
					{
						"name": "Sales_Region_FY07__c",
						"type": "String"
					},
					{
						"name": "Pricing_Country__c",
						"type": "String"
					},
					{
						"name": "Misys_Forecast__c",
						"type": "String"
					},
					{
						"name": "Term_Estimate_Months__c",
						"type": "Decimal"
					},
					{
						"name": "Commercial_Prop__c",
						"type": "String"
					},
					{
						"name": "ILF_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Total_ILF_In_Qtr__c",
						"type": "Decimal"
					},
					{
						"name": "Accretive_RLF__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "ASP_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "TCV_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "ACV_ACV_Equiv_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Strength_of_Sale__c",
						"type": "Decimal"
					},
					{
						"name": "Global_Account_Manager_Comments__c",
						"type": "String"
					},
					{
						"name": "Executive_Sponsor_alignment__c",
						"type": "String"
					},
					{
						"name": "Next_Step_Due_Date__c",
						"type": "DateTime"
					},
					{
						"name": "NextStep",
						"type": "String"
					},
					{
						"name": "Approval_Status__c",
						"type": "String"
					},
					{
						"name": "sbaa__ApprovalStatus__c",
						"type": "String"
					},
					{
						"name": "Term_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Deal_Category__c",
						"type": "String"
					},
					{
						"name": "Service_Type__c",
						"type": "String"
					},
					{
						"name": "Service_Sub_Type__c",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "Opportunity_Partner__c",
						"type": "String"
					},
					{
						"name": "Original_Opportunity__c",
						"type": "String"
					},
					{
						"name": "RecordTypeId",
						"type": "String"
					},
					{
						"name": "RecordType.Name",
						"type": "String"
					},
					{
						"name": "LastModifiedDate",
						"type": "DateTime"
					},
					{
						"name": "CreatedDate",
						"type": "DateTime"
					},
					{
						"name": "Existing_RLF_Currency__c",
						"type": "String"
					},
					{
						"name": "CurrencyIsoCode",
						"type": "String"
					},
					{
						"name": "SBU_Strategic_Business_Unit__c",
						"type": "String"
					},
					{
						"name": "FiscalPeriod__c",
						"type": "String"
					},
					{
						"name": "Total_PS_Amount__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS2__c",
						"type": "String"
					},
					{
						"name": "Date_opportunity_moved_to_SS4__c",
						"type": "String"
					},
					{
						"name": "IST_Rep__c",
						"type": "String"
					}
				],
				"typeProperties": {
					"objectApiName": "Opportunity"
				}
			},
			"dependsOn": []
		}
	]
}