p21d19901010001/PartialArmTemplates/ArmTemplate_5_20_2019_14_10_30.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactEXMSCORE_Age_Group')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactEXMSCORE_Age_Group]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactEXMSCORE_Age_Group"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactEXMSCORE_Age_Group]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "EXMSCORE_Age_Group_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EXMSCORE_Age_Group_Dest",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "EXMSCORE_Age_Group_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EXMSCORE_Age_Group_Arch",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EXMSCORE_Age_Group_Source')]",
				"[concat(variables('factoryId'), '/datasets/EXMSCORE_Age_Group_Dest')]",
				"[concat(variables('factoryId'), '/datasets/EXMSCORE_Age_Group_Arch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly Job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FactSALES_MSCRM_Bookings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactOpportunity_All",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactSALES_MSCRM_Bookings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "FactSALES_MSCRM_Orderbook",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactSALES_MSCRM_Bookings",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactSALES_MSCRM_Orderbook",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "FactEXMSCORE_Location",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactSALES_MSCRM_Orderbook",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactEXMSCORE_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "FactEXMSCORE_Region",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactEXMSCORE_Location",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactEXMSCORE_Region",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "DimEmployee",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DimEmployee_Termination",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DimEmployee",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "FactOpportunity_All",
						"type": "ExecutePipeline",
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactOpportunity_All Job",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "FactEmployee_Requisitions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactEXMSCORE_Region",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactEmployee_Requisitions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "DimEmployee_Termination",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactEmployee_Requisitions",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DimEmployee_Terminations",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "ETL Jobs"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXMSCORE_Age_Group_Arch')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": {
							"value": "@concat ('EXM_Age_Group_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "LandingArchive/CEOCFO/HR"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXMSCORE_Age_Group_Dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Age_Group",
						"type": "nvarchar"
					},
					{
						"name": "Responses",
						"type": "nvarchar"
					},
					{
						"name": "Detractors_Percentage",
						"type": "nvarchar"
					},
					{
						"name": "Passives_Percentage",
						"type": "nvarchar"
					},
					{
						"name": "Promoters_Percentage",
						"type": "nvarchar"
					},
					{
						"name": "Score",
						"type": "nvarchar"
					},
					{
						"name": "Avg_Response",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_0",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_1",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_2",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_3",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_4",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_5",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_6",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_7",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_8",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_9",
						"type": "nvarchar"
					},
					{
						"name": "Response_Distribution_10",
						"type": "nvarchar"
					},
					{
						"name": "Rec_CRE_TMS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[HR_Maclean_EXM_Age_Group]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXMSCORE_Age_Group_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@concat ('EXM_Age_Group_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "CEOCFO/HR"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_HC_Archive_Destination3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@concat ('HeadCount_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'),'.csv')",
						"type": "Expression"
					},
					"folderPath": "LandingArchive/CEOCFO/HR"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_WORKDAY_HC_Destination3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Employee_ID",
						"type": "String"
					},
					{
						"name": "On_Leave",
						"type": "String"
					},
					{
						"name": "Hire_Date",
						"type": "Date"
					},
					{
						"name": "Number_of_Direct_Reports",
						"type": "String"
					},
					{
						"name": "Worker_Type",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Org_Layer",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Product_Family",
						"type": "String"
					},
					{
						"name": "Product_Line",
						"type": "String"
					},
					{
						"name": "Cost_Center_ID",
						"type": "String"
					},
					{
						"name": "Cost_Center_Name",
						"type": "String"
					},
					{
						"name": "Cost_Centre_Hierarchy_Finastra",
						"type": "String"
					},
					{
						"name": "Function_Finastra",
						"type": "String"
					},
					{
						"name": "Cost_Centre_Legacy_DH_Mapping_to_Finastra",
						"type": "String"
					},
					{
						"name": "Reporting_Region",
						"type": "String"
					},
					{
						"name": "High_Low_Cost",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[HR_WORKDAY_HC]"
				}
			}
		}
	]
}