pipeline/DimMarketing_SFDC_Lead_Incremental.json
{
	"name": "DimMarketing_SFDC_Lead_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Landing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Record",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Last Created Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT\nId,\nMQL_Datestamp__c,\nMTL_Datestamp__c,\nStatus,\nCompany,\nLead_Country__c,\nTitle,\nFirstName,\nLastName,\nEmail,\nMQL_Program__c,\nQualified_Out_Reason__c,\nStatus_Reason__c,\nSales_Region__c,\nSub_Region__c,\nConvertedAccountId,\nCreatedDate,\nLastModifiedDate\nFROM Lead\nwhere (CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z)\nand (MQL_Datestamp__c!=null or MTL_Datestamp__c!=null)\n",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SFDC_Lead",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Lead_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Last Modified Record",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(cast (Lastmodifieddate AS datetime)) AS Modified\n  FROM [STG].[Marketing_SFDC_Lead]\n"
					},
					"dataset": {
						"referenceName": "Marketing_Lead_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Last Created Record",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(cast (createddate AS datetime))  AS Created\n  FROM [STG].[Marketing_SFDC_Lead]\n"
					},
					"dataset": {
						"referenceName": "Marketing_Lead_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Archiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Loading dbo table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable12",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataLakeStoreFile3",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Loading dbo table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Hash Generate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_ApplyDimMarketing_SFDC_Lead]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Hash Generate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loading Int tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_GenerateHashes]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "DimMarketing_SFDC_Lead",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Loading Int tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_DimMarketing_SFDC_Lead]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Marketing"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}