pipeline/DimMarketing_SFDC_Contact_incremental.json
{
	"name": "DimMarketing_SFDC_Contact_incremental",
	"properties": {
		"activities": [
			{
				"name": "Landing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Record",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Last Created Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT \nAccountId,\nContactId18__c,\nContact_Name__c,\nContact_Type__c,\nCreatedDate,\nSalutation,\nFirstName,\nLastName,\nTitle,\nLeadSource,\nEmail,\nOwnerId,\nLastModifiedDate\nFROM Contact \n\n\nwhere CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z\n\n",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"AccountId": "AccountId",
							"ContactId18__c": "ContactId18__c",
							"Contact_Name__c": "Contact_Name__c",
							"Contact_Type__c": "Contact_Type__c",
							"CreatedDate": "CreatedDate",
							"Salutation": "Salutation",
							"FirstName": "FirstName",
							"LastName": "LastName",
							"Title": "Title",
							"LeadSource": "LeadSource",
							"Email": "Email",
							"OwnerId": "Owner_ID",
							"LastModifiedDate": "LastModifiedDate"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SFDC_Contact",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Contact_sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Last Modified Record",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(cast (Lastmodifieddate AS datetime)) AS Modified\n  FROM [STG].[Marketing_SFDC_Contact]\n"
					},
					"dataset": {
						"referenceName": "Marketing_Contact_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Last Created Record",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(cast (createddate AS datetime))  AS Created\n  FROM [STG].[Marketing_SFDC_Contact]\n"
					},
					"dataset": {
						"referenceName": "Marketing_Contact_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Archiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Loading dbo table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable13",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataLakeStoreFile4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Loading dbo table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Hash Generate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_ApplyDimMarketing_SFDC_Contact]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Hash Generate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loading Int tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_GenerateHashes]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "DimMarketing_SFDC_Contact",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Loading Int tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_DimMarketing_SFDC_Contact]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Marketing"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}