pipeline/DimSales_SFDC_Campaign_incremental.json
{
	"name": "DimSales_SFDC_Campaign_incremental",
	"properties": {
		"activities": [
			{
				"name": "Loading STG tables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Record",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Last Created Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "select Id,Name,CreatedDate,LastModifiedDate\nfrom Campaign\nwhere CreatedDate >@{activity('Get Last Created Record').output.firstRow.Created}Z OR  LastModifiedDate >@{activity('Get Last Modified Record').output.firstRow.Modified}Z\n",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Id": "id",
							"Name": "Name",
							"CreatedDate": "CreatedDate",
							"LastModifiedDate": "LastModifiedDate"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Salesforce_Campaign",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Archiving data in DL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Loading dbo table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Campaign_Archive",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SFDC_Archive_Campaign",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Loading Int tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loading STG tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "sp_INT_DimSales_SFDC_Campaign"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Hash Generate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loading Int tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_GenerateHashes]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "DimSales_SFDC_Campaign",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Loading dbo table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Hash Generate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_INT_ApplyDimSales_SFDC_Campaign]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Last Modified Record",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select max(cast (Lastmodifieddate AS datetime)) AS Modified\n  FROM [STG].[Sales_SFDC_Campaign]"
					},
					"dataset": {
						"referenceName": "Campaign_last_modified",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Last Created Record",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "  select max(cast (CreatedDate AS datetime)) AS Created\n  FROM [STG].[Sales_SFDC_Campaign]\n"
					},
					"dataset": {
						"referenceName": "Campaign_Last_Created",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Sales"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}