p21d19901010001/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FactSALES_MSCRM_Bookings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables Actuals Detail Q1 - Q3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactSALES_MSCRM_Bookings]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactSALES_MSCRM_Bookings"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactSALES_MSCRM_Bookings]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables Actuals Detail Q1 - Q3",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"GL Period": "GL_Period",
									"TransID": "TransID",
									"Region": "Region",
									"Softrax": "Softrax",
									"Name": "Name",
									"Sales Rep": "Sales_Rep",
									"LOB": "LOB",
									"Product": "Product",
									"Booking ACV": "Booking_ACV",
									"Renewal ACV": "Renewal_ACV"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Booking_Actuals",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sales_MSCRM_Booking_Actual",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Sales_MSCRM_Booking_Archive",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sales_MSCRM_Booking_Archive_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Sales"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactSALES_MSCRM_Orderbook')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_FactSALES_MSCRM_Orderbook]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "FactSALES_MSCRM_Orderbook"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyFactSALES_MSCRM_Orderbook]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"accountid (Custom_SQL_Query)": "Accountid (Custom_SQL_Query)",
									"AccountName": "AccountName",
									"Createdon (DAY)": "Createdon (DAY)",
									"Estimated Close Date (DAY)": "Estimated Close Date (DAY)",
									"Modifiedon (DAY)": "Modifiedon (DAY)",
									"Employeeid": "Employeeid",
									"Forecast Category": "Forecast Category",
									"LOB": "LOB",
									"Main Product": "Main Product",
									"Name": "Name",
									"Opportunityid": "Opportunityid",
									"Quarter": "Quarter",
									"Region": "Region",
									"Sale Type": "Sale Type",
									"Sales Rep": "Sales Rep",
									"Sales Stage": "Sales Stage",
									"Statecodename": "Statecodename",
									"ACV + ACV Equiv (AVG)": "ACV + ACV Equiv (AVG)",
									"ACV Booking (AVG)": "ACV Booking (AVG)",
									"ACV Renewal (AVG)": "ACV Renewal (AVG)",
									"Contract Term (Months) (AVG)": "Contract Term (Months) (AVG)",
									"ILF (AVG)": "ILF (AVG)",
									"Services (AVG)": "Services (AVG)",
									"Term in Years (AVG)": "Term in Years (AVG)"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Sales_MSCRM_OrderBook_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sales_MSCRM_OrderBook_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Sales_MSCRM_OrderBook_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sales_MSCRM_OrderBook_Archive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Sales"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Files Copy Job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SharedFolder1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharedFolder1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SharedFolder1_Dest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete File",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "SharedFolder1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShare1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"recursive": true,
							"enableLogging": false
						}
					},
					{
						"name": "SharedFolder2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharedFolder2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SharedFoler2_Dest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete File2",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "SharedFolder2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShare2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"recursive": true,
							"enableLogging": false
						}
					},
					{
						"name": "SharedFolder3",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharedFolder3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SharedFolder3_Dest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete File3",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "SharedFolder3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShare3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"recursive": true,
							"enableLogging": false
						}
					},
					{
						"name": "Copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharedFolder3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SharedFolder3_Dest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShare3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"recursive": true,
							"enableLogging": false
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "FileServerReadSetting"
							},
							"formatSettings": {
								"type": "DelimitedTextReadSetting"
							}
						}
					}
				],
				"folder": {
					"name": "ETL Jobs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Marketing_Sunny')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "SELECT\nOpportunity_18chr_Id__c,\nName,\nOpportunity_Number__c,\nAccountId,\nSales_Region_FY07__c,\nStatus__c,\nStageName,\nProbability,\nDate_opportunity_moved_to_SS2__c,\nDate_opportunity_moved_to_SS4__c,\nILF_CommValue_CSH__c,\nACV_ACV_Equiv_CSH__c,\nCreatedDate,\nLastModifiedDate\nFROM Opportunity\n\n\n\n\n",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Opportunity_18chr_Id__c": "Opportunity_18chr_Id",
									"Name": "Name",
									"Opportunity_Number__c": "Opportunity_Number",
									"AccountId": "AccountId",
									"Sales_Region_FY07__c": "Sales_Region_FY07",
									"Status__c": "Status",
									"StageName": "StageName",
									"Probability": "Probability",
									"Date_opportunity_moved_to_SS2__c": "Date_opportunity_moved_to_SS2",
									"Date_opportunity_moved_to_SS4__c": "Date_opportunity_moved_to_SS4",
									"ILF_CommValue_CSH__c": "ILF_CommValue_CSH",
									"ACV_ACV_Equiv_CSH__c": "ACV_ACV_Equiv_CSH",
									"IST_Rep": "IST_Rep",
									"CreatedDate": "CreatedDate",
									"LastModifiedDate": "LastModifiedDate"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Marketing",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Marketing_Stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Sunny"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Netsuite')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable8",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimension')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"FISCAL_PERIOD_SKEY": "FISCAL_PERIOD_SKEY",
									"FISCAL_PERIOD_CREAT_DT": "FISCAL_PERIOD_CREAT_DT",
									"FISCAL_PERIOD_LAST_UPD_DT": "FISCAL_PERIOD_LAST_UPD_DT",
									"FISC_PERIOD_BKEY": "FISC_PERIOD_BKEY",
									"FISC_PERIOD_CAPTION": "FISC_PERIOD_CAPTION",
									"FISC_PERIOD_CODE": "FISC_PERIOD_CODE",
									"FISC_PERIOD_NAME": "FISC_PERIOD_NAME",
									"FISC_PERIOD_SERIES": "FISC_PERIOD_SERIES",
									"FISC_PERIOD_BEG_DT": "FISC_PERIOD_BEG_DT",
									"FISC_PERIOD_END_DT": "FISC_PERIOD_END_DT",
									"FISC_QTR_BKEY": "FISC_QTR_BKEY",
									"FISC_QTR_CAPTION": "FISC_QTR_CAPTION",
									"FISC_QTR_CODE": "FISC_QTR_CODE",
									"FISC_QTR_NAME": "FISC_QTR_NAME",
									"FISC_QTR_SERIES": "FISC_QTR_SERIES",
									"FISC_QTR_BEG_DT": "FISC_QTR_BEG_DT",
									"FISC_QTR_END_DT": "FISC_QTR_END_DT",
									"FISC_HALF_YEAR_BKEY": "FISC_HALF_YEAR_BKEY",
									"FISC_HALF_YEAR_CAPTION": "FISC_HALF_YEAR_CAPTION",
									"FISC_HALF_YEAR_CODE": "FISC_HALF_YEAR_CODE",
									"FISC_HALF_YEAR_NAME": "FISC_HALF_YEAR_NAME",
									"FISC_HALF_YEAR_SERIES": "FISC_HALF_YEAR_SERIES",
									"FISC_HALF_YEAR_BEG_DT": "FISC_HALF_YEAR_BEG_DT",
									"FISC_HALF_YEAR_END_DT": "FISC_HALF_YEAR_END_DT",
									"FISC_YEAR_BKEY": "FISC_YEAR_BKEY",
									"FISC_YEAR_CAPTION": "FISC_YEAR_CAPTION",
									"FISC_YEAR_CODE": "FISC_YEAR_CODE",
									"FISC_YEAR_SERIES": "FISC_YEAR_SERIES",
									"FISC_YEAR_BEG_DT": "FISC_YEAR_BEG_DT",
									"FISC_YEAR_END_DT": "FISC_YEAR_END_DT",
									"FISC_YEAR_NAME": "FISC_YEAR_NAME",
									"CAL_MONTH_BKEY": "CAL_MONTH_BKEY",
									"CAL_MONTH_CAPTION": "CAL_MONTH_CAPTION",
									"CAL_MONTH_CODE": "CAL_MONTH_CODE",
									"CAL_MONTH_NAME": "CAL_MONTH_NAME",
									"CAL_MONTH_SERIES": "CAL_MONTH_SERIES",
									"CAL_MONTH_BEG_DT": "CAL_MONTH_BEG_DT",
									"CAL_MONTH_END_DT": "CAL_MONTH_END_DT",
									"CAL_QTR_BKEY": "CAL_QTR_BKEY",
									"CAL_QTR_CAPTION": "CAL_QTR_CAPTION",
									"CAL_QTR_CODE": "CAL_QTR_CODE",
									"CAL_QTR_NAME": "CAL_QTR_NAME",
									"CAL_QTR_SERIES": "CAL_QTR_SERIES",
									"CAL_QTR_BEG_DT": "CAL_QTR_BEG_DT",
									"CAL_QTR_END_DT": "CAL_QTR_END_DT",
									"CAL_HALF_YEAR_BKEY": "CAL_HALF_YEAR_BKEY",
									"CAL_HALF_YEAR_CAPTION": "CAL_HALF_YEAR_CAPTION",
									"CAL_HALF_YEAR_CODE": "CAL_HALF_YEAR_CODE",
									"CAL_HALF_YEAR_NAME": "CAL_HALF_YEAR_NAME",
									"CAL_HALF_YEAR_SERIES": "CAL_HALF_YEAR_SERIES",
									"CAL_HALF_YEAR_BEG_DT": "CAL_HALF_YEAR_BEG_DT",
									"CAL_HALF_YEAR_END_DT": "CAL_HALF_YEAR_END_DT",
									"CAL_YEAR_BKEY": "CAL_YEAR_BKEY",
									"CAL_YEAR_CAPTION": "CAL_YEAR_CAPTION",
									"CAL_YEAR_CODE": "CAL_YEAR_CODE",
									"CAL_YEAR_SERIES": "CAL_YEAR_SERIES",
									"CAL_YEAR_BEG_DT": "CAL_YEAR_BEG_DT",
									"CAL_YEAR_END_DT": "CAL_YEAR_END_DT",
									"CAL_YEAR_NAME": "CAL_YEAR_NAME",
									"SOURCE_SYSTEM": "SOURCE_SYSTEM"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TimeDimension_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TimeDimension_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "TimeDimension_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TimeDimension_Archive_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Time"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactOpportunity_All Job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Campaign",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DimSales_SFDC_Campaign_incremental",
								"type": "PipelineReference"
							},
							"parameters": {}
						}
					},
					{
						"name": "FXRate_Conversion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Campaign",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DimSales_SFDC_FXRate_Conversion_incremental",
								"type": "PipelineReference"
							},
							"parameters": {}
						}
					},
					{
						"name": "Opportunity",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FXRate_Conversion",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactOpportunity_All_incremental",
								"type": "PipelineReference"
							},
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ETL Jobs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Search for file')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "test",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							]
						}
					},
					{
						"name": "d",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetMetadata2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('GetMetadata2').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Wait3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "FactOpportunity_All_incremental",
											"type": "PipelineReference"
										},
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "GetMetadata2",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "test",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							]
						}
					},
					{
						"name": "Wait2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "GetMetadata2",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('Get Metadata1').output.exists)",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item(),'xx')",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"exists": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly Job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FactSALES_MSCRM_Bookings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactOpportunity_All",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactSALES_MSCRM_Bookings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "FactSALES_MSCRM_Orderbook",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactSALES_MSCRM_Bookings",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactSALES_MSCRM_Orderbook",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "FactEXMSCORE_Location",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactSALES_MSCRM_Orderbook",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactEXMSCORE_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "FactEXMSCORE_Region",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactEXMSCORE_Location",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactEXMSCORE_Region",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DimEmployee",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FactEXMSCORE_Region",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DimEmployee",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "FactOpportunity_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactOpportunity_All Job",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "FactEmployee_Requisitions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DimEmployee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FactEmployee_Requisitions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "ETL Jobs"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/FactSALES_MSCRM_Bookings')]",
				"[concat(variables('factoryId'), '/pipelines/FactSALES_MSCRM_Orderbook')]",
				"[concat(variables('factoryId'), '/pipelines/FactOpportunity_All Job')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "FactOpportunity_All Job",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-04-21T01:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/FactOpportunity_All Job')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly Job')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Weekly Job",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2019-05-23T23:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Weekly Job')]"
			]
		}
	]
}