p21d19901010001/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "p21d19901010001"
		},
		"TimeDimensionDate_Archive_Destination_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat ('TimeDimensionDate_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
		},
		"TimeDimensionDate_Archive_Destination_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "LandingArchive/CEOCFO/Dimentions/Time"
		},
		"TimeDimensionDate_Source_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "TimeDimensionDate.csv"
		},
		"TimeDimensionDate_Source_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "CEOCFO/Dimentions/Time"
		},
		"TimeDimension_Archive_Destination_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat ('TimeDimension_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
		},
		"TimeDimension_Archive_Destination_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "LandingArchive/CEOCFO/Dimentions/Time"
		},
		"TimeDimension_Source_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "TimeDimension.csv"
		},
		"TimeDimension_Source_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "CEOCFO/Dimentions/Time"
		},
		"V_HR_Maclean_EXM_Location_Archive_Destination_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat ('EXM_Location_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
		},
		"V_HR_Maclean_EXM_Location_Archive_Destination_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "LandingArchive/CEOCFO/HR"
		},
		"V_HR_Maclean_EXM_Location_Directory_Archive_Destination_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat ('HR_Maclean_EXM_Location_Directory_' , formatDateTime(utcnow(), 'yyyy'), formatDateTime(utcnow(), 'MM'), formatDateTime(utcnow(), 'dd'))"
		},
		"V_HR_Maclean_EXM_Location_Directory_Archive_Destination_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "LandingArchive/HR"
		},
		"test_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "TimeDimens.csv"
		},
		"test_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "Time"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce_Opportunity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"structure": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "OwnerId",
						"type": "String"
					},
					{
						"name": "Owner.Name",
						"type": "String"
					},
					{
						"name": "Owner.Sub_Region__c",
						"type": "String"
					},
					{
						"name": "CloseDate",
						"type": "DateTime"
					},
					{
						"name": "StageName",
						"type": "String"
					},
					{
						"name": "Deal_Type__c",
						"type": "String"
					},
					{
						"name": "MainProduct__c",
						"type": "String"
					},
					{
						"name": "OpportunityHEALTH__c",
						"type": "String"
					},
					{
						"name": "RLF_percent__c",
						"type": "Decimal"
					},
					{
						"name": "Regional_Sales_Manager_Comments__c",
						"type": "String"
					},
					{
						"name": "AccountId",
						"type": "String"
					},
					{
						"name": "Account.Name",
						"type": "String"
					},
					{
						"name": "Opportunity_18chr_Id__c",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "Decimal"
					},
					{
						"name": "Order_Number__c",
						"type": "String"
					},
					{
						"name": "Sales_Region_FY07__c",
						"type": "String"
					},
					{
						"name": "Pricing_Country__c",
						"type": "String"
					},
					{
						"name": "Misys_Forecast__c",
						"type": "String"
					},
					{
						"name": "Term_Estimate_Months__c",
						"type": "Decimal"
					},
					{
						"name": "Commercial_Prop__c",
						"type": "String"
					},
					{
						"name": "ILF_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "Total_ILF_In_Qtr__c",
						"type": "Decimal"
					},
					{
						"name": "Accretive_RLF__c",
						"type": "Decimal"
					},
					{
						"name": "RLF_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "PS_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "ASP_Amount__c",
						"type": "Decimal"
					},
					{
						"name": "TCV_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "ACV_ACV_Equiv_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Strength_of_Sale__c",
						"type": "Decimal"
					},
					{
						"name": "Global_Account_Manager_Comments__c",
						"type": "String"
					},
					{
						"name": "Executive_Sponsor_alignment__c",
						"type": "String"
					},
					{
						"name": "Next_Step_Due_Date__c",
						"type": "DateTime"
					},
					{
						"name": "NextStep",
						"type": "String"
					},
					{
						"name": "Approval_Status__c",
						"type": "String"
					},
					{
						"name": "sbaa__ApprovalStatus__c",
						"type": "String"
					},
					{
						"name": "Term_CSH__c",
						"type": "Decimal"
					},
					{
						"name": "Deal_Category__c",
						"type": "String"
					},
					{
						"name": "Service_Type__c",
						"type": "String"
					},
					{
						"name": "Service_Sub_Type__c",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "Opportunity_Partner__c",
						"type": "String"
					},
					{
						"name": "Original_Opportunity__c",
						"type": "String"
					},
					{
						"name": "RecordTypeId",
						"type": "String"
					},
					{
						"name": "RecordType.Name",
						"type": "String"
					},
					{
						"name": "LastModifiedDate",
						"type": "DateTime"
					},
					{
						"name": "CreatedDate",
						"type": "DateTime"
					},
					{
						"name": "Existing_RLF_Currency__c",
						"type": "String"
					},
					{
						"name": "CurrencyIsoCode",
						"type": "String"
					},
					{
						"name": "SBU_Strategic_Business_Unit__c",
						"type": "String"
					},
					{
						"name": "FiscalPeriod__c",
						"type": "String"
					},
					{
						"name": "Total_PS_Amount__c",
						"type": "String"
					}
				],
				"typeProperties": {
					"objectApiName": "Opportunity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimensionDate_Archive_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "GZip",
						"level": "Optimal"
					},
					"fileName": {
						"value": "[parameters('TimeDimensionDate_Archive_Destination_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('TimeDimensionDate_Archive_Destination_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimensionDate_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "DATE_SKEY",
						"type": "String"
					},
					{
						"name": "DATE_CREAT_DT",
						"type": "String"
					},
					{
						"name": "DATE_LAST_UPD_DT",
						"type": "String"
					},
					{
						"name": "DATE_BKEY",
						"type": "String"
					},
					{
						"name": "DATE_CAPTION",
						"type": "String"
					},
					{
						"name": "DATE_CODE",
						"type": "String"
					},
					{
						"name": "DATE_DT",
						"type": "String"
					},
					{
						"name": "DATE_DAY_NAME",
						"type": "String"
					},
					{
						"name": "DATE_SERIES",
						"type": "String"
					},
					{
						"name": "DATE_DAY_OF_WEEK",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CODE",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_NAME",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_QTR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CODE",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_QTR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_CODE",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_NAME",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_END_DT",
						"type": "String"
					},
					{
						"name": "SOURCE_SYSTEM",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[TimeDimensionDate]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimensionDate_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"structure": [
					{
						"name": "DATE_SKEY",
						"type": "String"
					},
					{
						"name": "DATE_CREAT_DT",
						"type": "String"
					},
					{
						"name": "DATE_LAST_UPD_DT",
						"type": "String"
					},
					{
						"name": "DATE_BKEY",
						"type": "String"
					},
					{
						"name": "DATE_CAPTION",
						"type": "String"
					},
					{
						"name": "DATE_CODE",
						"type": "String"
					},
					{
						"name": "DATE_DT",
						"type": "String"
					},
					{
						"name": "DATE_DAY_NAME",
						"type": "String"
					},
					{
						"name": "DATE_SERIES",
						"type": "String"
					},
					{
						"name": "DATE_DAY_OF_WEEK",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CODE",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_NAME",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_QTR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CODE",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_QTR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_CODE",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_NAME",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_WEEK_END_DT",
						"type": "String"
					},
					{
						"name": "SOURCE_SYSTEM",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('TimeDimensionDate_Source_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('TimeDimensionDate_Source_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimension_Archive_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "GZip",
						"level": "Optimal"
					},
					"fileName": {
						"value": "[parameters('TimeDimension_Archive_Destination_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('TimeDimension_Archive_Destination_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimension_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_finastra",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "FISCAL_PERIOD_SKEY",
						"type": "String"
					},
					{
						"name": "FISCAL_PERIOD_CREAT_DT",
						"type": "String"
					},
					{
						"name": "FISCAL_PERIOD_LAST_UPD_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CODE",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_QTR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CODE",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_NAME",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_QTR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "SOURCE_SYSTEM",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[STG].[TimeDimension]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeDimension_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"structure": [
					{
						"name": "FISCAL_PERIOD_SKEY",
						"type": "String"
					},
					{
						"name": "FISCAL_PERIOD_CREAT_DT",
						"type": "String"
					},
					{
						"name": "FISCAL_PERIOD_LAST_UPD_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_CODE",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_PERIOD_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_QTR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_QTR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "FISC_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_CODE",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_NAME",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_MONTH_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_QTR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_QTR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_QTR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_QTR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_QTR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_HALF_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BKEY",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CAPTION",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_CODE",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_SERIES",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_BEG_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_END_DT",
						"type": "String"
					},
					{
						"name": "CAL_YEAR_NAME",
						"type": "String"
					},
					{
						"name": "SOURCE_SYSTEM",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('TimeDimension_Source_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('TimeDimension_Source_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/V_HR_Maclean_EXM_Location_Archive_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "GZip",
						"level": "Optimal"
					},
					"fileName": {
						"value": "[parameters('V_HR_Maclean_EXM_Location_Archive_Destination_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('V_HR_Maclean_EXM_Location_Archive_Destination_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/V_HR_Maclean_EXM_Location_Directory_Archive_Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "GZip",
						"level": "Optimal"
					},
					"fileName": {
						"value": "[parameters('V_HR_Maclean_EXM_Location_Directory_Archive_Destination_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('V_HR_Maclean_EXM_Location_Directory_Archive_Destination_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('test_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('test_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileShare",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "FinanceActuals_20190430.csv",
						"folderPath": "CEOCFO/Finance"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GL Period",
						"type": "String"
					},
					{
						"name": "TransID",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Softrax",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Sales Rep",
						"type": "String"
					},
					{
						"name": "LOB",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Sum of Booking ACV",
						"type": "String"
					},
					{
						"name": "Sum of Renewal ACV",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "Financial_Actuals",
						"folderPath": "LandingArchive/CEOCFO/Sales/CM_OrderBook"
					},
					"columnDelimiter": ",",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete old Landing Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Delete files more than 30 days",
				"activities": [
					{
						"name": "Delete HR",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Forecast Plan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Customer Support",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Finance",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete HR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Marketing",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Finance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete4",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Sales",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Marketing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete5",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false
						}
					},
					{
						"name": "Delete Forecast Plan",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Delete Customer Support",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileShareDelete6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false
						}
					}
				],
				"folder": {
					"name": "ETL Jobs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimDate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"DATE_SKEY": "DATE_SKEY",
									"DATE_CREAT_DT": "DATE_CREAT_DT",
									"DATE_LAST_UPD_DT": "DATE_LAST_UPD_DT",
									"DATE_BKEY": "DATE_BKEY",
									"DATE_CAPTION": "DATE_CAPTION",
									"DATE_CODE": "DATE_CODE",
									"DATE_DT": "DATE_DT",
									"DATE_DAY_NAME": "DATE_DAY_NAME",
									"DATE_SERIES": "DATE_SERIES",
									"DATE_DAY_OF_WEEK": "DATE_DAY_OF_WEEK",
									"CAL_MONTH_BKEY": "CAL_MONTH_BKEY",
									"CAL_MONTH_CAPTION": "CAL_MONTH_CAPTION",
									"CAL_MONTH_CODE": "CAL_MONTH_CODE",
									"CAL_MONTH_NAME": "CAL_MONTH_NAME",
									"CAL_MONTH_SERIES": "CAL_MONTH_SERIES",
									"CAL_MONTH_BEG_DT": "CAL_MONTH_BEG_DT",
									"CAL_MONTH_END_DT": "CAL_MONTH_END_DT",
									"CAL_QTR_BKEY": "CAL_QTR_BKEY",
									"CAL_QTR_CAPTION": "CAL_QTR_CAPTION",
									"CAL_QTR_CODE": "CAL_QTR_CODE",
									"CAL_QTR_NAME": "CAL_QTR_NAME",
									"CAL_QTR_SERIES": "CAL_QTR_SERIES",
									"CAL_QTR_BEG_DT": "CAL_QTR_BEG_DT",
									"CAL_QTR_END_DT": "CAL_QTR_END_DT",
									"CAL_HALF_YEAR_BKEY": "CAL_HALF_YEAR_BKEY",
									"CAL_HALF_YEAR_CAPTION": "CAL_HALF_YEAR_CAPTION",
									"CAL_HALF_YEAR_CODE": "CAL_HALF_YEAR_CODE",
									"CAL_HALF_YEAR_NAME": "CAL_HALF_YEAR_NAME",
									"CAL_HALF_YEAR_SERIES": "CAL_HALF_YEAR_SERIES",
									"CAL_HALF_YEAR_BEG_DT": "CAL_HALF_YEAR_BEG_DT",
									"CAL_HALF_YEAR_END_DT": "CAL_HALF_YEAR_END_DT",
									"CAL_YEAR_BKEY": "CAL_YEAR_BKEY",
									"CAL_YEAR_CAPTION": "CAL_YEAR_CAPTION",
									"CAL_YEAR_CODE": "CAL_YEAR_CODE",
									"CAL_YEAR_SERIES": "CAL_YEAR_SERIES",
									"CAL_YEAR_BEG_DT": "CAL_YEAR_BEG_DT",
									"CAL_YEAR_END_DT": "CAL_YEAR_END_DT",
									"FISC_PERIOD_BKEY": "FISC_PERIOD_BKEY",
									"FISC_PERIOD_CAPTION": "FISC_PERIOD_CAPTION",
									"FISC_PERIOD_CODE": "FISC_PERIOD_CODE",
									"FISC_PERIOD_NAME": "FISC_PERIOD_NAME",
									"FISC_PERIOD_SERIES": "FISC_PERIOD_SERIES",
									"FISC_PERIOD_BEG_DT": "FISC_PERIOD_BEG_DT",
									"FISC_PERIOD_END_DT": "FISC_PERIOD_END_DT",
									"FISC_QTR_BKEY": "FISC_QTR_BKEY",
									"FISC_QTR_CAPTION": "FISC_QTR_CAPTION",
									"FISC_QTR_CODE": "FISC_QTR_CODE",
									"FISC_QTR_NAME": "FISC_QTR_NAME",
									"FISC_QTR_SERIES": "FISC_QTR_SERIES",
									"FISC_QTR_BEG_DT": "FISC_QTR_BEG_DT",
									"FISC_QTR_END_DT": "FISC_QTR_END_DT",
									"FISC_HALF_YEAR_BKEY": "FISC_HALF_YEAR_BKEY",
									"FISC_HALF_YEAR_CAPTION": "FISC_HALF_YEAR_CAPTION",
									"FISC_HALF_YEAR_CODE": "FISC_HALF_YEAR_CODE",
									"FISC_HALF_YEAR_NAME": "FISC_HALF_YEAR_NAME",
									"FISC_HALF_YEAR_SERIES": "FISC_HALF_YEAR_SERIES",
									"FISC_HALF_YEAR_BEG_DT": "FISC_HALF_YEAR_BEG_DT",
									"FISC_HALF_YEAR_END_DT": "FISC_HALF_YEAR_END_DT",
									"FISC_YEAR_BKEY": "FISC_YEAR_BKEY",
									"FISC_YEAR_CAPTION": "FISC_YEAR_CAPTION",
									"FISC_YEAR_CODE": "FISC_YEAR_CODE",
									"FISC_YEAR_SERIES": "FISC_YEAR_SERIES",
									"FISC_YEAR_BEG_DT": "FISC_YEAR_BEG_DT",
									"FISC_YEAR_END_DT": "FISC_YEAR_END_DT",
									"FISC_YEAR_NAME": "FISC_YEAR_NAME",
									"FISC_WEEK_BKEY": "FISC_WEEK_BKEY",
									"FISC_WEEK_CAPTION": "FISC_WEEK_CAPTION",
									"FISC_WEEK_CODE": "FISC_WEEK_CODE",
									"FISC_WEEK_NAME": "FISC_WEEK_NAME",
									"FISC_WEEK_SERIES": "FISC_WEEK_SERIES",
									"FISC_WEEK_BEG_DT": "FISC_WEEK_BEG_DT",
									"FISC_WEEK_END_DT": "FISC_WEEK_END_DT",
									"SOURCE_SYSTEM": "SOURCE_SYSTEM"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TimeDimensionDate_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TimeDimensionDate_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimDate]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "TimeDimensionDate_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TimeDimensionDate_Archive_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Time"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TimeDimensionDate_Source')]",
				"[concat(variables('factoryId'), '/datasets/TimeDimensionDate_Destination')]",
				"[concat(variables('factoryId'), '/datasets/TimeDimensionDate_Archive_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Employee ID": "Employee_ID",
									"On Leave": "On_Leave",
									"Hire Date": "Hire_Date",
									"Number of Direct Reports": "Number_of_Direct_Reports",
									"Worker Type": "Worker_Type",
									"Location": "Location",
									"Country": "Country",
									"Org Layer": "Org_Layer",
									"Product": "Product",
									"Product Family": "Product_Family",
									"Product Line": "Product_Line",
									"Cost Center - ID": "Cost_Center_ID",
									"Cost Center": "Cost_Center_Name",
									"Cost Center Hierarchy": "Cost_Centre_Hierarchy_Finastra",
									"Function": "Function_Finastra",
									"Cost Centre - Legacy DH Mapping to Finastra": "Cost_Centre_Legacy_DH_Mapping_to_Finastra",
									"Reporting Region": "Reporting_Region",
									"High / Low Cost": "High_Low_Cost"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_HC_Archive_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee_Future_Hires')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee_Future_Hires]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee_Future_Hires"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee_Future_Hires]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_FUTURE_HIRES_SOURCE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_FUTURE_HIRES_DEST",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_FUTURE_HIRES_SOURCE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_FUTURE_HIRES_ARCH_DEST",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee_Future_Termiantions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee_Future_Termiantions]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee_Future_Hires"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee_Future_Hires]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_FUTURE_TERMINATIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_FUTURE_TERMINATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_FUTURE_TERMINATIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_FUTURE_TERMINATION_ARCH_DEST",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee_Requisitions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee_Requisitions]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee_Requisitions"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee_Requisitions]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Job Req. ID": "Job_Req_ID",
									"Job Requisition Status": "New_Position",
									"Primary Location": "Job_Requisition_Status",
									"Cost Centre ID": "Primary_Location",
									"Country": "Country",
									"Worker Type": "Cost_Centre_ID",
									"Function": "Function",
									"Count of Active Candidates": "Worker_Type",
									"In Offer": "Count_of_Active_Candidates",
									"Number of Openings Not in Offer": "In_Offer",
									"Candidate Stage": "Candidate_Stage",
									"Internal Candidate?": "Internal_Candidate"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_WORKDAY_REQ_Archive_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmployee_Terminations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimEmployee_Terminations]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimEmployee_Terminations"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimEmployee_Terminations]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting",
									"wildcardFileName": "*.*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_Termination_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_Termination_Dest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_Termination_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_Termination_Archive_Dest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimGeographical_Location')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading STG tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Location": "Location",
									"Country": "Country",
									"Region": "Region"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HR_Maclean_EXM_Location_Directory_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HR_Maclean_EXM_Location_Directory_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archiving data in DL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Loading dbo table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HR_Maclean_EXM_Location_Directory_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "V_HR_Maclean_EXM_Location_Directory_Archive_Destination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Loading Int tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading STG tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_DimGeographical_Location]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Loading dbo table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hash Generate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_ApplyDimGeographical_Location]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hash Generate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Loading Int tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_INT_GenerateHashes]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "DimGeographical_Location",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase_finastra",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/V_HR_Maclean_EXM_Location_Directory_Archive_Destination')]"
			]
		}
	]
}